In [117]:
# importing libraries
import pandas as pd
from sodapy import Socrata
import itertools

In [118]:
%reload_ext watermark

In [119]:
# %watermark -v -p pandas,sodapy,itertools
%watermark -a "Mark Bauer" -u -t -d -v -p pandas,sodapy,itertools

Mark Bauer
last updated: 2021-01-21 10:15:23

CPython 3.7.1
IPython 7.18.1

pandas 1.0.0
sodapy 2.0.0
itertools unknown

Documention for installing watermark: https://github.com/rasbt/watermark

# sodapy

sodapy is a python client for the Socrata Open Data API.

## To learn more about sodapy
Installing: https://pypi.org/project/sodapy/  
GitHub: https://github.com/xmunoz/sodapy

## The official Socrata Open Data API docs
    
https://dev.socrata.com/

## Queries using SODA

https://dev.socrata.com/docs/queries/

## Inspiration for this notebook
https://github.com/xmunoz/sodapy/blob/master/examples/soql_queries.ipynb

In [120]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

In [121]:
client = Socrata(socrata_domain, None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [122]:
type(client)

sodapy.Socrata

In [127]:
client.datasets(limit=1, offset=5)

[{'resource': {'name': '311 Service Requests from 2010 to Present',
   'id': 'erm2-nwe9',
   'parent_fxf': [],
   'description': '<b>NOTE: This data does not present a full picture of 311 calls or service requests, in part because of operational and system complexities associated with remote call taking necessitated by the unprecedented volume 311 is handling during the Covid-19 crisis. The City is working to address this issue. </b>\r\n\r\nAll 311 Service Requests from 2010 to present. This information is automatically updated daily.',
   'attribution': '311, DoITT',
   'attribution_link': None,
   'contact_email': None,
   'type': 'dataset',
   'updatedAt': '2021-01-21T02:33:28.000Z',
   'createdAt': '2011-10-10T05:52:17.000Z',
   'metadata_updated_at': '2020-04-22T20:18:38.000Z',
   'data_updated_at': '2021-01-21T02:33:28.000Z',
   'page_views': {'page_views_last_week': 1185,
    'page_views_last_month': 4571,
    'page_views_total': 437412,
    'page_views_last_week_log': 10.211888294546005,
    'page_views_last_month_log': 12.15860968821448,
    'page_views_total_log': 18.738636572639066},
   'columns_name': ['Unique Key',
    'Longitude',
    'Latitude',
    'Vehicle Type',
    'Park Facility Name',
    'Open Data Channel Type',
    'BBL',
    'Due Date',
    'Landmark',
    'Street Name',
    'Location Type',
    'Descriptor',
    'Complaint Type',
    'Agency Name',
    'Agency',
    'Closed Date',
    'Created Date',
    'Location (zip)',
    'X Coordinate (State Plane)',
    'Borough',
    'Community Board',
    'Status',
    'Intersection Street 2',
    'Cross Street 1',
    'Incident Address',
    'Incident Zip',
    'Intersection Street 1',
    'Taxi Pick Up Location',
    'Y Coordinate (State Plane)',
    'Taxi Company Borough',
    'Resolution Action Updated Date',
    'City',
    'Location',
    'Park Borough',
    'Bridge Highway Segment',
    'Bridge Highway Name',
    'Address Type',
    'Cross Street 2',
    'Bridge Highway Direction',
    'Location (city)',
    'Resolution Description',
    'Facility Type',
    'Road Ramp',
    'Zip Codes',
    'Community Districts',
    'Borough Boundaries',
    'City Council Districts',
    'Police Precincts',
    'Location (address)',
    'Location (state)'],
   'columns_field_name': ['unique_key',
    'longitude',
    'latitude',
    'vehicle_type',
    'park_facility_name',
    'open_data_channel_type',
    'bbl',
    'due_date',
    'landmark',
    'street_name',
    'location_type',
    'descriptor',
    'complaint_type',
    'agency_name',
    'agency',
    'closed_date',
    'created_date',
    'location_zip',
    'x_coordinate_state_plane',
    'borough',
    'community_board',
    'status',
    'intersection_street_2',
    'cross_street_1',
    'incident_address',
    'incident_zip',
    'intersection_street_1',
    'taxi_pick_up_location',
    'y_coordinate_state_plane',
    'taxi_company_borough',
    'resolution_action_updated_date',
    'city',
    'location',
    'park_borough',
    'bridge_highway_segment',
    'bridge_highway_name',
    'address_type',
    'cross_street_2',
    'bridge_highway_direction',
    'location_city',
    'resolution_description',
    'facility_type',
    'road_ramp',
    ':@computed_region_efsh_h5xi',
    ':@computed_region_f5dn_yrer',
    ':@computed_region_yeji_bk3q',
    ':@computed_region_92fq_4b7q',
    ':@computed_region_sbqj_enih',
    'location_address',
    'location_state'],
   'columns_datatype': ['Text',
    'Number',
    'Number',
    'Text',
    'Text',
    'Text',
    'Text',
    'Calendar date',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Calendar date',
    'Calendar date',
    'Text',
    'Number',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Number',
    'Text',
    'Calendar date',
    'Text',
    'Point',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Text',
    'Number',
    'Number',
    'Number',
    'Number',
    'Number',
    'Text',
    'Text'],
   'columns_description': ['Unique identifier of a Service Request (SR) in the open data set\n',
    'Geo based Long of the incident location\n',
    'Geo based Lat of the incident location\n',
    'If the incident is a taxi, this field describes the type of TLC vehicle. \n',
    'If the incident location is a Parks Dept facility, the Name of the facility will appear here\n',
    'Indicates how the SR was submitted to 311.  i.e. By Phone, Online, Mobile, Other or Unknown.',
    'Borough Block and Lot, provided by geovalidation. Parcel number to identify the location of location of buildings and properties in NYC.',
    'Date when responding agency is expected to update the SR.  This is based on the Complaint Type and internal Service Level Agreements (SLAs).\n',
    'If the incident location is identified as a Landmark the name of the landmark will display here\n',
    'Street name of incident address provided by the submitter\n',
    'Describes the type of location used in the address information \n',
    'This is  associated to the Complaint Type, and provides further detail on the incident or condition. Descriptor values are dependent on the Complaint Type, and are not always required in SR. \n',
    'This is the first level of a hierarchy identifying the topic of the incident or condition. Complaint Type may have a corresponding Descriptor (below) or may stand alone.',
    'Full Agency name of responding City Government Agency',
    'Acronym of responding City Government Agency\n',
    'Date SR was closed by responding agency\n',
    'Date SR  was created\n',
    '',
    'Geo validated, X coordinate of the incident location. \n',
    'Provided by the submitter and confirmed by geovalidation.\n',
    'Provided by geovalidation.\n',
    'Status of SR submitted \n',
    'Second intersecting street based on geo validated incident location\n',
    'First Cross street based on the geo validated incident location\n',
    'House number of incident address provided by submitter.\n',
    'Incident location zip code, provided by geo validation.\n',
    'First intersecting street based on geo validated incident location\n',
    'If the incident is identified as a taxi, this field displays the taxi pick up location\n',
    'Geo validated,  Y coordinate of the incident location. \n',
    'If the incident is identified as a taxi, this field will display the borough of the taxi company. \n',
    'Date when responding agency last updated the SR.\n',
    'City of the incident location provided by geovalidation.\n',
    'Combination of the geo based lat & long of the incident location\n',
    'The borough of incident if it is a Parks Dept facility\n',
    'Additional information on the section of the Bridge/Highway were the incident took place.\n',
    'If the incident is identified as a Bridge/Highway, the name will be displayed here.\n',
    'Type of incident location information available.\n',
    'Second Cross Street based on the geo validated incident location\n',
    'If the incident is identified as a Bridge/Highway, the direction where the issue took place would be displayed here.\n',
    '',
    'Describes the last action taken on the SR by the responding agency.  May describe next or future steps. \n',
    'If available, this field describes the type of city facility associated to the SR\n',
    'If the incident location was Bridge/Highway this column differentiates if the issue was on the Road or the Ramp.\n',
    '',
    '',
    '',
    '',
    '',
    '',
    ''],
   'columns_format': [{},
    {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'},
    {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'},
    {'displayStyle': 'plain', 'align': 'left'},
    {'displayStyle': 'plain', 'align': 'left'},
    {'displayStyle': 'plain', 'align': 'left'},
    {'displayStyle': 'plain', 'align': 'left'},
    {'view': 'date_time', 'align': 'left'},
    {'displayStyle': 'plain', 'align': 'left'},
    {},
    {},
    {},
    {'displayStyle': 'plain', 'align': 'left'},
    {'displayStyle': 'plain', 'align': 'left'},
    {},
    {'view': 'date_time', 'align': 'left'},
    {'view': 'date_time', 'align': 'left'},
    {},
    {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'},
    {'displayStyle': 'plain', 'align': 'left'},
    {'displayStyle': 'plain', 'align': 'left'},
    {},
    {},
    {},
    {},
    {},
    {},
    {'displayStyle': 'plain', 'align': 'left'},
    {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'},
    {'displayStyle': 'plain', 'align': 'left'},
    {'view': 'date_time', 'align': 'left'},
    {'displayStyle': 'plain', 'align': 'left'},
    {'view': 'coords', 'align': 'left'},
    {'displayStyle': 'plain', 'align': 'left'},
    {'displayStyle': 'plain', 'align': 'left'},
    {'displayStyle': 'plain', 'align': 'left'},
    {},
    {},
    {'displayStyle': 'plain', 'align': 'left'},
    {},
    {'displayStyle': 'plain', 'align': 'left'},
    {'displayStyle': 'plain', 'align': 'left'},
    {'displayStyle': 'plain', 'align': 'left'},
    {},
    {},
    {},
    {},
    {},
    {},
    {}],
   'download_count': 398086,
   'provenance': 'official',
   'lens_view_type': 'tabular',
   'blob_mime_type': None,
   'hide_from_data_json': False,
   'publication_date': '2018-04-20T03:03:18.000Z'},
  'classification': {'categories': ['public safety',
    'transportation',
    'recreation'],
   'tags': [],
   'domain_category': 'Social Services',
   'domain_tags': ['pothole',
    'bike',
    'rat',
    'rodent',
    '2018od4a-report',
    'all service requests',
    'service request status',
    '2012',
    '2011',
    '2010',
    'socialservices',
    'city government',
    '311 service requests',
    '311'],
   'domain_metadata': [{'key': 'Update_Automation', 'value': 'Yes'},
    {'key': 'Update_Date-Made-Public', 'value': '10/18/2011'},
    {'key': 'Update_Update-Frequency', 'value': 'Daily'},
    {'key': 'Dataset-Information_Agency', 'value': '311'}]},
  'metadata': {'domain': 'data.cityofnewyork.us'},
  'permalink': 'https://data.cityofnewyork.us/d/erm2-nwe9',
  'link': 'https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9',
  'owner': {'id': '5fuc-pqz2',
   'user_type': 'interactive',
   'display_name': 'NYC OpenData'},
  'creator': {'id': '5fuc-pqz2',
   'user_type': 'interactive',
   'display_name': 'NYC OpenData'}}]

In [128]:
client.get(socrata_dataset_identifier, limit=1)

[{'unique_key': '49565195',
  'created_date': '2021-01-20T00:15:00.000',
  'agency': 'DOT',
  'agency_name': 'Department of Transportation',
  'complaint_type': 'Traffic Signal Condition',
  'descriptor': 'Controller',
  'incident_zip': '11221',
  'intersection_street_1': 'WILSON AVENUE',
  'intersection_street_2': 'STARR STREET',
  'address_type': 'INTERSECTION',
  'city': 'BROOKLYN',
  'facility_type': 'N/A',
  'status': 'Open',
  'community_board': '04 BROOKLYN',
  'borough': 'BROOKLYN',
  'x_coordinate_state_plane': '1004536',
  'y_coordinate_state_plane': '194800',
  'open_data_channel_type': 'UNKNOWN',
  'park_facility_name': 'Unspecified',
  'park_borough': 'BROOKLYN',
  'latitude': '40.701334516078795',
  'longitude': '-73.92683804147583',
  'location': {'latitude': '40.701334516078795',
   'longitude': '-73.92683804147583',
   'human_address': '{"address": "", "city": "", "state": "", "zip": ""}'},
  ':@computed_region_efsh_h5xi': '18181',
  ':@computed_region_f5dn_yrer': '42',
  ':@computed_region_yeji_bk3q': '2',
  ':@computed_region_92fq_4b7q': '30',
  ':@computed_region_sbqj_enih': '53'}]

In [129]:
client.get_metadata(socrata_dataset_identifier).keys()

dict_keys(['id', 'name', 'assetType', 'attribution', 'averageRating', 'category', 'createdAt', 'description', 'displayType', 'downloadCount', 'hideFromCatalog', 'hideFromDataJson', 'indexUpdatedAt', 'newBackend', 'numberOfComments', 'oid', 'provenance', 'publicationAppendEnabled', 'publicationDate', 'publicationGroup', 'publicationStage', 'rowClass', 'rowIdentifierColumnId', 'rowsUpdatedAt', 'rowsUpdatedBy', 'tableId', 'totalTimesRated', 'viewCount', 'viewLastModified', 'viewType', 'approvals', 'columns', 'grants', 'metadata', 'owner', 'query', 'rights', 'tableAuthor', 'tags', 'flags'])

In [130]:
keys = client.get_metadata(socrata_dataset_identifier).keys()
for key in keys:
    print(key)

id
name
assetType
attribution
averageRating
category
createdAt
description
displayType
downloadCount
hideFromCatalog
hideFromDataJson
indexUpdatedAt
newBackend
numberOfComments
oid
provenance
publicationAppendEnabled
publicationDate
publicationGroup
publicationStage
rowClass
rowIdentifierColumnId
rowsUpdatedAt
rowsUpdatedBy
tableId
totalTimesRated
viewCount
viewLastModified
viewType
approvals
columns
grants
metadata
owner
query
rights
tableAuthor
tags
flags

In [131]:
print('id and name of dataset\n' + \
      '-' * 30 + \
      '\nid:', client.get_metadata(socrata_dataset_identifier)['id'], \
      '\nname:', client.get_metadata(socrata_dataset_identifier)['name'])

id and name of dataset
------------------------------
id: erm2-nwe9
name: 311 Service Requests from 2010 to Present

In [132]:
metadata = client.get_metadata(socrata_dataset_identifier)

limit = 30
out = dict(itertools.islice(metadata.items(), limit))
print(type(out), '\n')

for key, value in out.items():
    print(key + ':',  value)

<class 'dict'>

id: erm2-nwe9
name: 311 Service Requests from 2010 to Present
assetType: dataset
attribution: 311, DoITT
averageRating: 0
category: Social Services
createdAt: 1318225937
description: <b>NOTE: This data does not present a full picture of 311 calls or service requests, in part because of operational and system complexities associated with remote call taking necessitated by the unprecedented volume 311 is handling during the Covid-19 crisis. The City is working to address this issue. </b>

All 311 Service Requests from 2010 to present. This information is automatically updated daily.
displayType: table
downloadCount: 398087
hideFromCatalog: False
hideFromDataJson: False
indexUpdatedAt: 1571326778
newBackend: True
numberOfComments: 19
oid: 28506835
provenance: official
publicationAppendEnabled: False
publicationDate: 1524193398
publicationGroup: 244403
publicationStage: published
rowClass:
rowIdentifierColumnId: 354922030
rowsUpdatedAt: 1611196408
rowsUpdatedBy: 5fuc-pqz2
tableId: 15047182
totalTimesRated: 0
viewCount: 437439
viewLastModified: 1587586718
viewType: tabular

In [133]:
metadata = client.get_metadata(socrata_dataset_identifier)

for x in metadata['columns']:
    print(x['fieldName'])

unique_key
created_date
closed_date
agency
agency_name
complaint_type
descriptor
location_type
incident_zip
incident_address
street_name
cross_street_1
cross_street_2
intersection_street_1
intersection_street_2
address_type
city
landmark
facility_type
status
due_date
resolution_description
resolution_action_updated_date
community_board
bbl
borough
x_coordinate_state_plane
y_coordinate_state_plane
open_data_channel_type
park_facility_name
park_borough
vehicle_type
taxi_company_borough
taxi_pick_up_location
bridge_highway_name
bridge_highway_direction
road_ramp
bridge_highway_segment
latitude
longitude
location
:@computed_region_efsh_h5xi
:@computed_region_f5dn_yrer
:@computed_region_yeji_bk3q
:@computed_region_92fq_4b7q
:@computed_region_sbqj_enih

In [134]:
metadata = client.get_metadata(socrata_dataset_identifier)

metadata['columns'][0]

{'id': 354922030,
 'name': 'Unique Key',
 'dataTypeName': 'text',
 'description': 'Unique identifier of a Service Request (SR) in the open data set\n',
 'fieldName': 'unique_key',
 'position': 1,
 'renderTypeName': 'text',
 'tableColumnId': 1567787,
 'width': 220,
 'cachedContents': {'largest': '49568704',
  'non_null': '24758078',
  'null': '0',
  'top': [{'item': '10693408', 'count': '1'},
   {'item': '10836749', 'count': '1'},
   {'item': '10836967', 'count': '1'},
   {'item': '11051177', 'count': '1'},
   {'item': '11413576', 'count': '1'},
   {'item': '11463895', 'count': '1'},
   {'item': '11463896', 'count': '1'},
   {'item': '11464334', 'count': '1'},
   {'item': '11464394', 'count': '1'},
   {'item': '11464467', 'count': '1'},
   {'item': '11464508', 'count': '1'},
   {'item': '11464509', 'count': '1'},
   {'item': '11464521', 'count': '1'},
   {'item': '11464567', 'count': '1'},
   {'item': '11464572', 'count': '1'},
   {'item': '11464639', 'count': '1'},
   {'item': '11464846', 'count': '1'},
   {'item': '11464850', 'count': '1'},
   {'item': '11464938', 'count': '1'},
   {'item': '11465153', 'count': '1'}],
  'smallest': '10564222',
  'not_null': '21933957',
  'cardinality': '24758078'},
 'format': {}}

In [135]:
metadata = client.get_metadata(socrata_dataset_identifier)

# locating our columns (i.e. field names) and saving as a new variable called 'lst'
cols = metadata['columns']

# previewing first five
cols[1]

{'id': 354922031,
 'name': 'Created Date',
 'dataTypeName': 'calendar_date',
 'description': 'Date SR  was created\n',
 'fieldName': 'created_date',
 'position': 2,
 'renderTypeName': 'calendar_date',
 'tableColumnId': 1567788,
 'width': 244,
 'cachedContents': {'largest': '2021-01-20T00:15:00.000',
  'non_null': '24758078',
  'null': '0',
  'top': [{'item': '2013-01-24T00:00:00.000', 'count': '7650'},
   {'item': '2015-01-08T00:00:00.000', 'count': '7242'},
   {'item': '2014-01-07T00:00:00.000', 'count': '7030'},
   {'item': '2015-02-16T00:00:00.000', 'count': '6430'},
   {'item': '2014-01-08T00:00:00.000', 'count': '6197'},
   {'item': '2012-01-04T00:00:00.000', 'count': '5933'},
   {'item': '2013-11-25T00:00:00.000', 'count': '5909'},
   {'item': '2014-01-23T00:00:00.000', 'count': '5782'},
   {'item': '2014-01-22T00:00:00.000', 'count': '5497'},
   {'item': '2015-01-07T00:00:00.000', 'count': '5432'},
   {'item': '2011-01-24T00:00:00.000', 'count': '5380'},
   {'item': '2011-10-28T00:00:00.000', 'count': '5275'},
   {'item': '2010-01-04T00:00:00.000', 'count': '5130'},
   {'item': '2014-01-24T00:00:00.000', 'count': '5113'},
   {'item': '2010-12-14T00:00:00.000', 'count': '5102'},
   {'item': '2014-11-18T00:00:00.000', 'count': '5029'},
   {'item': '2010-12-15T00:00:00.000', 'count': '5021'},
   {'item': '2014-11-19T00:00:00.000', 'count': '5006'},
   {'item': '2013-01-25T00:00:00.000', 'count': '4959'},
   {'item': '2010-12-06T00:00:00.000', 'count': '4880'}],
  'smallest': '2010-01-01T00:00:00.000',
  'not_null': '21933957',
  'cardinality': '16830918'},
 'format': {'view': 'date_time', 'align': 'left'}}

In [136]:
# saving our field names as a variable
fieldName = {x['fieldName']: x for x in cols}

# printing the field names in our data
for key in fieldName.keys():
    print(key)

unique_key
created_date
closed_date
agency
agency_name
complaint_type
descriptor
location_type
incident_zip
incident_address
street_name
cross_street_1
cross_street_2
intersection_street_1
intersection_street_2
address_type
city
landmark
facility_type
status
due_date
resolution_description
resolution_action_updated_date
community_board
bbl
borough
x_coordinate_state_plane
y_coordinate_state_plane
open_data_channel_type
park_facility_name
park_borough
vehicle_type
taxi_company_borough
taxi_pick_up_location
bridge_highway_name
bridge_highway_direction
road_ramp
bridge_highway_segment
latitude
longitude
location
:@computed_region_efsh_h5xi
:@computed_region_f5dn_yrer
:@computed_region_yeji_bk3q
:@computed_region_92fq_4b7q
:@computed_region_sbqj_enih

In [137]:
list(fieldName.keys())[:-5]

['unique_key',
 'created_date',
 'closed_date',
 'agency',
 'agency_name',
 'complaint_type',
 'descriptor',
 'location_type',
 'incident_zip',
 'incident_address',
 'street_name',
 'cross_street_1',
 'cross_street_2',
 'intersection_street_1',
 'intersection_street_2',
 'address_type',
 'city',
 'landmark',
 'facility_type',
 'status',
 'due_date',
 'resolution_description',
 'resolution_action_updated_date',
 'community_board',
 'bbl',
 'borough',
 'x_coordinate_state_plane',
 'y_coordinate_state_plane',
 'open_data_channel_type',
 'park_facility_name',
 'park_borough',
 'vehicle_type',
 'taxi_company_borough',
 'taxi_pick_up_location',
 'bridge_highway_name',
 'bridge_highway_direction',
 'road_ramp',
 'bridge_highway_segment',
 'latitude',
 'longitude',
 'location']

In [138]:
cols_as_list = list(fieldName.keys())[:-5]

cols_as_list

['unique_key',
 'created_date',
 'closed_date',
 'agency',
 'agency_name',
 'complaint_type',
 'descriptor',
 'location_type',
 'incident_zip',
 'incident_address',
 'street_name',
 'cross_street_1',
 'cross_street_2',
 'intersection_street_1',
 'intersection_street_2',
 'address_type',
 'city',
 'landmark',
 'facility_type',
 'status',
 'due_date',
 'resolution_description',
 'resolution_action_updated_date',
 'community_board',
 'bbl',
 'borough',
 'x_coordinate_state_plane',
 'y_coordinate_state_plane',
 'open_data_channel_type',
 'park_facility_name',
 'park_borough',
 'vehicle_type',
 'taxi_company_borough',
 'taxi_pick_up_location',
 'bridge_highway_name',
 'bridge_highway_direction',
 'road_ramp',
 'bridge_highway_segment',
 'latitude',
 'longitude',
 'location']

In [139]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    complaint_type, count(complaint_type)
GROUP BY 
    complaint_type
ORDER BY 
    count(complaint_type) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (445, 2)

            complaint_type count_complaint_type
0      Noise - Residential              2229426
1           HEAT/HOT WATER              1413082
2          Illegal Parking              1120381
3         Blocked Driveway              1042843
4         Street Condition              1019663
5   Street Light Condition               982911
6                  HEATING               887869
7                 PLUMBING               746657
8             Water System               686314
9  Noise - Street/Sidewalk               681544

In [140]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    descriptor, count(descriptor)
GROUP BY 
    descriptor
ORDER BY 
    count(descriptor) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 2)

         descriptor count_descriptor
0  Loud Music/Party          2329812
1   ENTIRE BUILDING           920221
2              HEAT           871935
3         No Access           776493
4  Street Light Out           728769
5           Pothole           617087
6  Banging/Pounding           610764
7    APARTMENT ONLY           492861
8           CEILING           358496
9      Loud Talking           358292

In [141]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    date_trunc_ymd(created_date) AS day, count(day) AS count
GROUP BY 
    day
ORDER BY 
    count DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 2)

                       day  count
0  2020-08-04T00:00:00.000  23314
1  2020-08-05T00:00:00.000  18305
2  2020-07-05T00:00:00.000  16014
3  2020-07-04T00:00:00.000  15365
4  2020-06-20T00:00:00.000  15098
5  2020-06-21T00:00:00.000  14965
6  2020-06-28T00:00:00.000  12899
7  2020-06-27T00:00:00.000  12074
8  2020-08-09T00:00:00.000  12057
9  2020-08-06T00:00:00.000  12043

In [142]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    created_date as timestamp, date_trunc_ymd(created_date) as day, count(created_date) AS count
GROUP BY 
    timestamp
ORDER BY 
    count ASC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 3)

                 timestamp                      day count
0  2010-01-01T15:48:17.000  2010-01-01T00:00:00.000     1
1  2010-01-01T16:01:57.000  2010-01-01T00:00:00.000     1
2  2010-01-01T15:40:55.000  2010-01-01T00:00:00.000     1
3  2010-01-01T15:48:01.000  2010-01-01T00:00:00.000     1
4  2010-01-01T15:57:07.000  2010-01-01T00:00:00.000     1
5  2010-01-01T16:01:43.000  2010-01-01T00:00:00.000     1
6  2010-01-01T15:35:00.000  2010-01-01T00:00:00.000     1
7  2010-01-01T15:39:32.000  2010-01-01T00:00:00.000     1
8  2010-01-01T15:45:00.000  2010-01-01T00:00:00.000     1
9  2010-01-01T15:48:00.000  2010-01-01T00:00:00.000     1

In [143]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    complaint_type, count(complaint_type) AS count
WHERE 
    LOWER(complaint_type) LIKE '%flood%'
GROUP BY 
    complaint_type
ORDER BY 
    count(descriptor) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (0, 0)

Empty DataFrame
Columns: []
Index: []

In [144]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    complaint_type, count(complaint_type) AS count
WHERE 
    LOWER(descriptor) LIKE '%flood%'
GROUP BY 
    complaint_type
ORDER BY 
    count(descriptor) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (4, 2)

           complaint_type   count
0                   Sewer  120205
1  Street Light Condition    9043
2  OEM Literature Request     271
3           Public Toilet      48

In [145]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    descriptor, count(descriptor)
WHERE 
    complaint_type='Sewer'
GROUP BY 
    descriptor
ORDER BY 
    count(descriptor) DESC
LIMIT 1000
"""

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.head(len(results_df))

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (27, 2)

                                           descriptor count_descriptor
0                    Sewer Backup (Use Comments) (SA)           148435
1    Catch Basin Clogged/Flooding (Use Comments) (SC)            89792
2             Catch Basin Sunken/Damaged/Raised (SC1)            28505
3                                Street Flooding (SJ)            27501
4              Manhole Cover Broken/Making Noise (SB)            19778
5             Manhole Cover Missing (Emergency) (SA3)            17420
6                                    Sewer Odor (SA2)            15323
7                  Defective/Missing Curb Piece (SC4)             8480
8               Manhole Overflow (Use Comments) (SA1)             6821
9                            Catch Basin Search (SC2)             4153
10                  Catch Basin Grating Missing (SA4)             3748
11                Manhole Sunken/Damaged/Raised (SB1)             3418
12                              Highway Flooding (SH)             2834
13                Culvert Blocked/Needs Cleaning (SE)             2202
14           Other Sewer Problem (Use Comments) (SZZ)             1222
15                                  Sewer Break (SBR)             1033
16                    Plate Noisy/Sunken/Raised (SB5)              874
17            Plate Missing/Moved-Exposing Hole (SB4)              645
18                        RAIN GARDEN DEBRIS (SRGDBR)              368
19                   Street Cave-In / Depression (SG)              302
20                                      Trench (SZZ1)              192
21                      RAIN GARDEN FLOODING (SRGFLD)               78
22                   DAMAGE STRUCTURE/RAILING (SRGDM)               49
23  Recurring after SOAP *FOR DEP INTERNAL USE ONL...               29
24       Street Cave-In *Dep Internal Use Only* (SG1)               27
25  Catch Basin Connection Broken *Dep Internal Us...               14
26  SOAP segment *FOR DEP INTERNAL USE ONLY* (SOAP...                1

In [146]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    descriptor, count(descriptor) AS count
WHERE 
    LOWER(descriptor) LIKE '%flood%'
GROUP BY 
    descriptor
ORDER BY 
    count(descriptor) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (11, 2)

                                          descriptor  count
0   Catch Basin Clogged/Flooding (Use Comments) (SC)  89792
1                               Street Flooding (SJ)  27501
2                               Flood Light Lamp Out   5961
3                              Highway Flooding (SH)   2834
4                           Flood Light Lamp Cycling   2510
5                                Ready NY - Flooding    271
6                        Flood Light Lamp Dayburning    205
7                           Flood Light Lamp Missing    190
8                               Flood Light Lamp Dim    177
9                      RAIN GARDEN FLOODING (SRGFLD)     78
10                                           Flooded     48

In [147]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    date_trunc_ymd(created_date) as day, count(created_date) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    day
ORDER BY 
    count DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)

results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 2)

                       day count
0  2017-05-05T00:00:00.000   247
1  2014-12-09T00:00:00.000   226
2  2014-04-30T00:00:00.000   189
3  2018-04-16T00:00:00.000   163
4  2013-05-08T00:00:00.000   162
5  2016-11-15T00:00:00.000   151
6  2016-02-08T00:00:00.000   150
7  2018-11-25T00:00:00.000   142
8  2020-07-10T00:00:00.000   131
9  2010-10-01T00:00:00.000   130

In [148]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    *
WHERE 
    descriptor == 'Street Flooding (SJ)'
ORDER BY 
    created_date DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.to_csv('sample_data_street_flooding.csv')

results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 30)

,unique_key,created_date,agency,agency_name,complaint_type,descriptor,incident_zip,incident_address,street_name,cross_street_1,...,park_facility_name,park_borough,latitude,longitude,location,closed_date,resolution_description,resolution_action_updated_date,intersection_street_1,intersection_street_2
0,49558159,2021-01-17T19:16:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10305,52 DOTY AVENUE,DOTY AVENUE,ALEX CIR,...,Unspecified,STATEN ISLAND,40.592920637086415,-74.06465361447098,"{'latitude': '40.592920637086415', 'longitude'...",NaN,NaN,NaN,NaN,NaN
1,49556732,2021-01-17T13:39:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10456,781 TINTON AVENUE,TINTON AVENUE,NYCTA SUBWAY,...,Unspecified,BRONX,40.81879067509979,-73.90473169463199,"{'latitude': '40.81879067509979', 'longitude':...",2021-01-17T14:25:00.000,The Department of Environmental Protection inv...,2021-01-17T14:25:00.000,NaN,NaN
2,49556721,2021-01-17T10:12:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10305,NaN,NaN,NaN,...,Unspecified,STATEN ISLAND,40.576395128957934,-74.08435720865776,"{'latitude': '40.576395128957934', 'longitude'...",NaN,NaN,NaN,QUINCY AVENUE,IONA STREET
3,49555243,2021-01-17T07:46:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11208,NaN,NaN,NaN,...,Unspecified,Unspecified,40.66860317832641,-73.85684793057735,"{'latitude': '40.66860317832641', 'longitude':...",2021-01-17T17:35:00.000,The Department of Environmental Protection inv...,2021-01-17T17:35:00.000,149 AVENUE,78 STREET
4,49551850,2021-01-16T17:56:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11422,233 STREET,233 STREET,128 ROAD,...,Unspecified,QUEENS,40.68192346156942,-73.73343965448937,"{'latitude': '40.68192346156942', 'longitude':...",2021-01-18T13:40:00.000,The Department of Environmental Protection ins...,2021-01-18T13:40:00.000,NaN,NaN