# sodapy tutorial using NYC Open Data 
Mark Bauer

# Introduction  
This notebook demonstrates how to use sodapy, the python client for the Socrata Open Data API, with NYC Open Data. Examples of popular methods are included, as well as basic queries using SoQL, the Socrata Query Language.

# sodapy
sodapy is a python client for the Socrata Open Data API.

# Information about sodapy
 
**Installing**: https://pypi.org/project/sodapy/  
**GitHub**: https://github.com/xmunoz/sodapy

**The official Socrata Open Data API (SODA) docs**  
https://dev.socrata.com/

**Queries using SODA**  
https://dev.socrata.com/docs/queries/

**Inspiration for this notebook**  
https://github.com/xmunoz/sodapy/blob/master/examples/soql_queries.ipynb

# Importing Libraries

In [1]:
# importing libraries
import pandas as pd
from sodapy import Socrata
import itertools

In [2]:
%reload_ext watermark

In [3]:
%watermark -a "Mark Bauer" -u -t -d -v -p pandas,sodapy,itertools

Mark Bauer
last updated: 2021-01-25 16:00:54

CPython 3.7.1
IPython 7.18.1

pandas 1.0.0
sodapy 2.0.0
itertools unknown

Documention for installing watermark: https://github.com/rasbt/watermark

# Using sodapy

In order for a user to use sodapy, they need to retrieve a source domain (i.e. the open data source you are trying to connect to). Additionally, if a user wants to query a specific data set, then the data set identifier (i.e. the data set id on the given source domain) needs to be identified as well. Below, we identify NYC Open Data's source domain: `data.cityofnewyork.us` and the data set identifier for the NYC 311 data set: `erm2-nwe9`.

![nyc-311-api-docs](nyc-311-api-docs.png)  

source: https://dev.socrata.com/foundry/data.cityofnewyork.us/erm2-nwe9

We save this information as variables below.

In [4]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

# Socrata class in sodapy

In [5]:
# The main class that interacts with the SODA API.

# The required arguments are:
#     domain: the domain you wish you to access
#     app_token: your Socrata application token
# Simple requests are possible without an app_token, though these
# requests will be rate-limited.

client = Socrata(socrata_domain, None, timeout=1000)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [6]:
type(client)

sodapy.Socrata

Socrata Methods

![socrata-methods](socrata-methods.png)

source: https://github.com/xmunoz/sodapy#datasetslimit0-offset0

We will review a few of the popular methods in this tutorial.

# Socrata Methods

## `.datasets()`

`datasets` method: Returns the list of datasets associated with a particular domain.
WARNING: Large limits (>1000) will return megabytes of data,
which can be slow on low-bandwidth networks, and is also a lot of
data to hold in memory.

In [7]:
print(type(client.datasets()))

<class 'list'>

In [8]:
print(type(client.datasets()[0]))

<class 'dict'>

In [9]:
client.datasets()[0].keys()

dict_keys(['resource', 'classification', 'metadata', 'permalink', 'link', 'owner', 'creator'])

In [10]:
# Viewing the resource dictionary in the first item of the datasets list. From there, 
# we view the first five items under the resource dictionary.

limit = 5

dict(itertools.islice(client.datasets()[0]['resource'].items(), limit))

{'name': 'DOB Job Application Filings',
 'id': 'ic3t-wcy2',
 'parent_fxf': [],
 'description': 'This dataset contains all job applications submitted through the Borough Offices, through eFiling, or through the HUB, which have a "Latest Action Date" since January 1, 2000. This dataset does not include jobs submitted through DOB NOW. See the DOB NOW: Build â€“ Job Application Filings dataset for DOB NOW jobs.',
 'attribution': 'Department of Buildings (DOB)'}

In [11]:
# Once we've identified the structure of the dictionary, we try to 
# find the 311 data set and identify its position in the datasets list.

idx = 0

for dataset_id in client.datasets():
    if client.datasets()[idx]['resource']['id'] == 'erm2-nwe9':
        print(client.datasets()[idx]['resource']['name'], \
              '\nindex:', idx)
        break
    else:
        idx += 1

311 Service Requests from 2010 to Present
index: 5

In [12]:
# Previewing information about the 311 data set from the datasets method.
# Note: Information is quite long.

idx_311 = idx
print(idx_311)

client.datasets()[idx_311]

5

{'resource': {'name': '311 Service Requests from 2010 to Present',
  'id': 'erm2-nwe9',
  'parent_fxf': [],
  'description': '<b>NOTE: This data does not present a full picture of 311 calls or service requests, in part because of operational and system complexities associated with remote call taking necessitated by the unprecedented volume 311 is handling during the Covid-19 crisis. The City is working to address this issue. </b>\r\n\r\nAll 311 Service Requests from 2010 to present. This information is automatically updated daily.',
  'attribution': '311, DoITT',
  'attribution_link': None,
  'contact_email': None,
  'type': 'dataset',
  'updatedAt': '2021-01-25T02:41:21.000Z',
  'createdAt': '2011-10-10T05:52:17.000Z',
  'metadata_updated_at': '2020-04-22T20:18:38.000Z',
  'data_updated_at': '2021-01-25T02:41:21.000Z',
  'page_views': {'page_views_last_week': 1294,
   'page_views_last_month': 4868,
   'page_views_total': 438194,
   'page_views_last_week_log': 10.338736382573916,
   'page_views_last_month_log': 12.249409785269128,
   'page_views_total_log': 18.741213497066273},
  'columns_name': ['Open Data Channel Type',
   'Bridge Highway Direction',
   'Bridge Highway Segment',
   'City',
   'Street Name',
   'Incident Address',
   'Descriptor',
   'Complaint Type',
   'Agency Name',
   'Agency',
   'Cross Street 2',
   'Landmark',
   'Closed Date',
   'Created Date',
   'Location',
   'Longitude',
   'Status',
   'Park Facility Name',
   'Due Date',
   'Location Type',
   'Location (city)',
   'BBL',
   'Address Type',
   'Latitude',
   'Vehicle Type',
   'Location (zip)',
   'Borough',
   'Intersection Street 2',
   'Incident Zip',
   'Cross Street 1',
   'Taxi Company Borough',
   'Road Ramp',
   'Resolution Action Updated Date',
   'Community Board',
   'X Coordinate (State Plane)',
   'Y Coordinate (State Plane)',
   'Park Borough',
   'Bridge Highway Name',
   'Unique Key',
   'Resolution Description',
   'Facility Type',
   'Intersection Street 1',
   'Taxi Pick Up Location',
   'Location (state)',
   'Location (address)',
   'Police Precincts',
   'City Council Districts',
   'Borough Boundaries',
   'Community Districts',
   'Zip Codes'],
  'columns_field_name': ['open_data_channel_type',
   'bridge_highway_direction',
   'bridge_highway_segment',
   'city',
   'street_name',
   'incident_address',
   'descriptor',
   'complaint_type',
   'agency_name',
   'agency',
   'cross_street_2',
   'landmark',
   'closed_date',
   'created_date',
   'location',
   'longitude',
   'status',
   'park_facility_name',
   'due_date',
   'location_type',
   'location_city',
   'bbl',
   'address_type',
   'latitude',
   'vehicle_type',
   'location_zip',
   'borough',
   'intersection_street_2',
   'incident_zip',
   'cross_street_1',
   'taxi_company_borough',
   'road_ramp',
   'resolution_action_updated_date',
   'community_board',
   'x_coordinate_state_plane',
   'y_coordinate_state_plane',
   'park_borough',
   'bridge_highway_name',
   'unique_key',
   'resolution_description',
   'facility_type',
   'intersection_street_1',
   'taxi_pick_up_location',
   'location_state',
   'location_address',
   ':@computed_region_sbqj_enih',
   ':@computed_region_92fq_4b7q',
   ':@computed_region_yeji_bk3q',
   ':@computed_region_f5dn_yrer',
   ':@computed_region_efsh_h5xi'],
  'columns_datatype': ['Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Calendar date',
   'Calendar date',
   'Point',
   'Number',
   'Text',
   'Text',
   'Calendar date',
   'Text',
   'Text',
   'Text',
   'Text',
   'Number',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Calendar date',
   'Text',
   'Number',
   'Number',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Number',
   'Number',
   'Number',
   'Number',
   'Number'],
  'columns_description': ['Indicates how the SR was submitted to 311.  i.e. By Phone, Online, Mobile, Other or Unknown.',
   'If the incident is identified as a Bridge/Highway, the direction where the issue took place would be displayed here.\n',
   'Additional information on the section of the Bridge/Highway were the incident took place.\n',
   'City of the incident location provided by geovalidation.\n',
   'Street name of incident address provided by the submitter\n',
   'House number of incident address provided by submitter.\n',
   'This is  associated to the Complaint Type, and provides further detail on the incident or condition. Descriptor values are dependent on the Complaint Type, and are not always required in SR. \n',
   'This is the first level of a hierarchy identifying the topic of the incident or condition. Complaint Type may have a corresponding Descriptor (below) or may stand alone.',
   'Full Agency name of responding City Government Agency',
   'Acronym of responding City Government Agency\n',
   'Second Cross Street based on the geo validated incident location\n',
   'If the incident location is identified as a Landmark the name of the landmark will display here\n',
   'Date SR was closed by responding agency\n',
   'Date SR  was created\n',
   'Combination of the geo based lat & long of the incident location\n',
   'Geo based Long of the incident location\n',
   'Status of SR submitted \n',
   'If the incident location is a Parks Dept facility, the Name of the facility will appear here\n',
   'Date when responding agency is expected to update the SR.  This is based on the Complaint Type and internal Service Level Agreements (SLAs).\n',
   'Describes the type of location used in the address information \n',
   '',
   'Borough Block and Lot, provided by geovalidation. Parcel number to identify the location of location of buildings and properties in NYC.',
   'Type of incident location information available.\n',
   'Geo based Lat of the incident location\n',
   'If the incident is a taxi, this field describes the type of TLC vehicle. \n',
   '',
   'Provided by the submitter and confirmed by geovalidation.\n',
   'Second intersecting street based on geo validated incident location\n',
   'Incident location zip code, provided by geo validation.\n',
   'First Cross street based on the geo validated incident location\n',
   'If the incident is identified as a taxi, this field will display the borough of the taxi company. \n',
   'If the incident location was Bridge/Highway this column differentiates if the issue was on the Road or the Ramp.\n',
   'Date when responding agency last updated the SR.\n',
   'Provided by geovalidation.\n',
   'Geo validated, X coordinate of the incident location. \n',
   'Geo validated,  Y coordinate of the incident location. \n',
   'The borough of incident if it is a Parks Dept facility\n',
   'If the incident is identified as a Bridge/Highway, the name will be displayed here.\n',
   'Unique identifier of a Service Request (SR) in the open data set\n',
   'Describes the last action taken on the SR by the responding agency.  May describe next or future steps. \n',
   'If available, this field describes the type of city facility associated to the SR\n',
   'First intersecting street based on geo validated incident location\n',
   'If the incident is identified as a taxi, this field displays the taxi pick up location\n',
   '',
   '',
   '',
   '',
   '',
   '',
   ''],
  'columns_format': [{'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {},
   {},
   {},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {},
   {},
   {'displayStyle': 'plain', 'align': 'left'},
   {'view': 'date_time', 'align': 'left'},
   {'view': 'date_time', 'align': 'left'},
   {'view': 'coords', 'align': 'left'},
   {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'},
   {},
   {'displayStyle': 'plain', 'align': 'left'},
   {'view': 'date_time', 'align': 'left'},
   {},
   {},
   {'displayStyle': 'plain', 'align': 'left'},
   {},
   {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'},
   {'displayStyle': 'plain', 'align': 'left'},
   {},
   {'displayStyle': 'plain', 'align': 'left'},
   {},
   {},
   {},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'view': 'date_time', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'},
   {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {},
   {'displayStyle': 'plain', 'align': 'left'},
   {},
   {},
   {},
   {},
   {},
   {},
   {}],
  'download_count': 398215,
  'provenance': 'official',
  'lens_view_type': 'tabular',
  'blob_mime_type': None,
  'hide_from_data_json': False,
  'publication_date': '2018-04-20T03:03:18.000Z'},
 'classification': {'categories': ['public safety',
   'transportation',
   'recreation'],
  'tags': [],
  'domain_category': 'Social Services',
  'domain_tags': ['pothole',
   'bike',
   'rat',
   'rodent',
   '2018od4a-report',
   'all service requests',
   'service request status',
   '2012',
   '2011',
   '2010',
   'socialservices',
   'city government',
   '311 service requests',
   '311'],
  'domain_metadata': [{'key': 'Update_Automation', 'value': 'Yes'},
   {'key': 'Update_Date-Made-Public', 'value': '10/18/2011'},
   {'key': 'Update_Update-Frequency', 'value': 'Daily'},
   {'key': 'Dataset-Information_Agency', 'value': '311'}]},
 'metadata': {'domain': 'data.cityofnewyork.us'},
 'permalink': 'https://data.cityofnewyork.us/d/erm2-nwe9',
 'link': 'https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9',
 'owner': {'id': '5fuc-pqz2',
  'user_type': 'interactive',
  'display_name': 'NYC OpenData'},
 'creator': {'id': '5fuc-pqz2',
  'user_type': 'interactive',
  'display_name': 'NYC OpenData'}}

In [13]:
# Since the datasets method is long, let's see if we can identify specific keys we want to preview
# in the resource dictionary.

lst_of_keys = list(client.datasets()[idx_311]['resource'].keys())

print(lst_of_keys)

['name', 'id', 'parent_fxf', 'description', 'attribution', 'attribution_link', 'contact_email', 'type', 'updatedAt', 'createdAt', 'metadata_updated_at', 'data_updated_at', 'page_views', 'columns_name', 'columns_field_name', 'columns_datatype', 'columns_description', 'columns_format', 'download_count', 'provenance', 'lens_view_type', 'blob_mime_type', 'hide_from_data_json', 'publication_date']

In [14]:
# Previewing keys, values in the resource dictionary.

for item in lst_of_keys:
    print(item + ':', client.datasets()[idx_311]['resource'][item], '\n')

name: 311 Service Requests from 2010 to Present

id: erm2-nwe9

parent_fxf: []

description: <b>NOTE: This data does not present a full picture of 311 calls or service requests, in part because of operational and system complexities associated with remote call taking necessitated by the unprecedented volume 311 is handling during the Covid-19 crisis. The City is working to address this issue. </b>

All 311 Service Requests from 2010 to present. This information is automatically updated daily.

attribution: 311, DoITT

attribution_link: None

contact_email: None

type: dataset

updatedAt: 2021-01-25T02:41:21.000Z

createdAt: 2011-10-10T05:52:17.000Z

metadata_updated_at: 2020-04-22T20:18:38.000Z

data_updated_at: 2021-01-25T02:41:21.000Z

page_views: {'page_views_last_week': 1294, 'page_views_last_month': 4868, 'page_views_total': 438194, 'page_views_last_week_log': 10.338736382573916, 'page_views_last_month_log': 12.249409785269128, 'page_views_total_log': 18.741213497066273}

columns_name: ['Open Data Channel Type', 'Bridge Highway Direction', 'Bridge Highway Segment', 'City', 'Street Name', 'Incident Address', 'Descriptor', 'Complaint Type', 'Agency Name', 'Agency', 'Cross Street 2', 'Landmark', 'Closed Date', 'Created Date', 'Location', 'Longitude', 'Status', 'Park Facility Name', 'Due Date', 'Location Type', 'Location (city)', 'BBL', 'Address Type', 'Latitude', 'Vehicle Type', 'Location (zip)', 'Borough', 'Intersection Street 2', 'Incident Zip', 'Cross Street 1', 'Taxi Company Borough', 'Road Ramp', 'Resolution Action Updated Date', 'Community Board', 'X Coordinate (State Plane)', 'Y Coordinate (State Plane)', 'Park Borough', 'Bridge Highway Name', 'Unique Key', 'Resolution Description', 'Facility Type', 'Intersection Street 1', 'Taxi Pick Up Location', 'Location (state)', 'Location (address)', 'Police Precincts', 'City Council Districts', 'Borough Boundaries', 'Community Districts', 'Zip Codes']

columns_field_name: ['open_data_channel_type', 'bridge_highway_direction', 'bridge_highway_segment', 'city', 'street_name', 'incident_address', 'descriptor', 'complaint_type', 'agency_name', 'agency', 'cross_street_2', 'landmark', 'closed_date', 'created_date', 'location', 'longitude', 'status', 'park_facility_name', 'due_date', 'location_type', 'location_city', 'bbl', 'address_type', 'latitude', 'vehicle_type', 'location_zip', 'borough', 'intersection_street_2', 'incident_zip', 'cross_street_1', 'taxi_company_borough', 'road_ramp', 'resolution_action_updated_date', 'community_board', 'x_coordinate_state_plane', 'y_coordinate_state_plane', 'park_borough', 'bridge_highway_name', 'unique_key', 'resolution_description', 'facility_type', 'intersection_street_1', 'taxi_pick_up_location', 'location_state', 'location_address', ':@computed_region_sbqj_enih', ':@computed_region_92fq_4b7q', ':@computed_region_yeji_bk3q', ':@computed_region_f5dn_yrer', ':@computed_region_efsh_h5xi']

columns_datatype: ['Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Calendar date', 'Calendar date', 'Point', 'Number', 'Text', 'Text', 'Calendar date', 'Text', 'Text', 'Text', 'Text', 'Number', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Calendar date', 'Text', 'Number', 'Number', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Number', 'Number', 'Number', 'Number', 'Number']

columns_description: ['Indicates how the SR was submitted to 311.  i.e. By Phone, Online, Mobile, Other or Unknown.', 'If the incident is identified as a Bridge/Highway, the direction where the issue took place would be displayed here.\n', 'Additional information on the section of the Bridge/Highway were the incident took place.\n', 'City of the incident location provided by geovalidation.\n', 'Street name of incident address provided by the submitter\n', 'House number of incident address provided by submitter.\n', 'This is  associated to the Complaint Type, and provides further detail on the incident or condition. Descriptor values are dependent on the Complaint Type, and are not always required in SR. \n', 'This is the first level of a hierarchy identifying the topic of the incident or condition. Complaint Type may have a corresponding Descriptor (below) or may stand alone.', 'Full Agency name of responding City Government Agency', 'Acronym of responding City Government Agency\n', 'Second Cross Street based on the geo validated incident location\n', 'If the incident location is identified as a Landmark the name of the landmark will display here\n', 'Date SR was closed by responding agency\n', 'Date SR  was created\n', 'Combination of the geo based lat & long of the incident location\n', 'Geo based Long of the incident location\n', 'Status of SR submitted \n', 'If the incident location is a Parks Dept facility, the Name of the facility will appear here\n', 'Date when responding agency is expected to update the SR.  This is based on the Complaint Type and internal Service Level Agreements (SLAs).\n', 'Describes the type of location used in the address information \n', '', 'Borough Block and Lot, provided by geovalidation. Parcel number to identify the location of location of buildings and properties in NYC.', 'Type of incident location information available.\n', 'Geo based Lat of the incident location\n', 'If the incident is a taxi, this field describes the type of TLC vehicle. \n', '', 'Provided by the submitter and confirmed by geovalidation.\n', 'Second intersecting street based on geo validated incident location\n', 'Incident location zip code, provided by geo validation.\n', 'First Cross street based on the geo validated incident location\n', 'If the incident is identified as a taxi, this field will display the borough of the taxi company. \n', 'If the incident location was Bridge/Highway this column differentiates if the issue was on the Road or the Ramp.\n', 'Date when responding agency last updated the SR.\n', 'Provided by geovalidation.\n', 'Geo validated, X coordinate of the incident location. \n', 'Geo validated,  Y coordinate of the incident location. \n', 'The borough of incident if it is a Parks Dept facility\n', 'If the incident is identified as a Bridge/Highway, the name will be displayed here.\n', 'Unique identifier of a Service Request (SR) in the open data set\n', 'Describes the last action taken on the SR by the responding agency.  May describe next or future steps. \n', 'If available, this field describes the type of city facility associated to the SR\n', 'First intersecting street based on geo validated incident location\n', 'If the incident is identified as a taxi, this field displays the taxi pick up location\n', '', '', '', '', '', '', '']

columns_format: [{'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {}, {}, {}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {}, {}, {'displayStyle': 'plain', 'align': 'left'}, {'view': 'date_time', 'align': 'left'}, {'view': 'date_time', 'align': 'left'}, {'view': 'coords', 'align': 'left'}, {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'}, {}, {'displayStyle': 'plain', 'align': 'left'}, {'view': 'date_time', 'align': 'left'}, {}, {}, {'displayStyle': 'plain', 'align': 'left'}, {}, {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'}, {'displayStyle': 'plain', 'align': 'left'}, {}, {'displayStyle': 'plain', 'align': 'left'}, {}, {}, {}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'view': 'date_time', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'}, {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {}, {'displayStyle': 'plain', 'align': 'left'}, {}, {}, {}, {}, {}, {}, {}]

download_count: 398215

provenance: official

lens_view_type: tabular

blob_mime_type: None

hide_from_data_json: False

publication_date: 2018-04-20T03:03:18.000Z

## `.get()`

`get` method: Read data from the requested resource. Options for content_type are json,
csv, and xml.

In [15]:
client = Socrata(socrata_domain, None, timeout=100)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [16]:
# Using try and except statements because these requests are large and may timeout.
# If the request timesout, we skip it. 

try:
    print(type(client.get(socrata_dataset_identifier)))
except:
    print('timeout error. skipping.')
    pass

timeout error. skipping.

In [17]:
# Using try and except statements because these requests are large and may timeout.
# If the request timesout, we skip it. 

try:
    print(client.get(socrata_dataset_identifier)[0].keys())
except:
    print('timeout error. skipping.')
    pass

timeout error. skipping.

In [18]:
# Using try and except statements because these requests are large and may timeout.
# If the request timesout, we skip it. 

try:
    print(client.get(socrata_dataset_identifier, select='*')[0])
except:
    print('timeout error. skipping.')
    pass

timeout error. skipping.

## `.get_metadata()`

`get_metadata` method: Retrieve the metadata for a particular dataset.

In [19]:
client = Socrata(socrata_domain, None, timeout=1000)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [20]:
type(client.get_metadata(socrata_dataset_identifier))

dict

In [21]:
# Previewing keys in dictionary
client.get_metadata(socrata_dataset_identifier).keys()

dict_keys(['id', 'name', 'assetType', 'attribution', 'averageRating', 'category', 'createdAt', 'description', 'displayType', 'downloadCount', 'hideFromCatalog', 'hideFromDataJson', 'indexUpdatedAt', 'newBackend', 'numberOfComments', 'oid', 'provenance', 'publicationAppendEnabled', 'publicationDate', 'publicationGroup', 'publicationStage', 'rowClass', 'rowIdentifierColumnId', 'rowsUpdatedAt', 'rowsUpdatedBy', 'tableId', 'totalTimesRated', 'viewCount', 'viewLastModified', 'viewType', 'approvals', 'columns', 'grants', 'metadata', 'owner', 'query', 'rights', 'tableAuthor', 'tags', 'flags'])

In [22]:
# Previewing keys vertically.
keys = client.get_metadata(socrata_dataset_identifier).keys()
for key in keys:
    print(key)

id
name
assetType
attribution
averageRating
category
createdAt
description
displayType
downloadCount
hideFromCatalog
hideFromDataJson
indexUpdatedAt
newBackend
numberOfComments
oid
provenance
publicationAppendEnabled
publicationDate
publicationGroup
publicationStage
rowClass
rowIdentifierColumnId
rowsUpdatedAt
rowsUpdatedBy
tableId
totalTimesRated
viewCount
viewLastModified
viewType
approvals
columns
grants
metadata
owner
query
rights
tableAuthor
tags
flags

In [23]:
# Previewing the id and name of the data set.
print('id and name of dataset\n' + \
      '-' * 30 + \
      '\nid:', client.get_metadata(socrata_dataset_identifier)['id'], \
      '\nname:', client.get_metadata(socrata_dataset_identifier)['name'])

id and name of dataset
------------------------------
id: erm2-nwe9
name: 311 Service Requests from 2010 to Present

In [24]:
# Previewing the first 30 keys, values of the dictionary.
metadata = client.get_metadata(socrata_dataset_identifier)

limit = 30
out = dict(itertools.islice(metadata.items(), limit))
print(type(out), '\n')

for key, value in out.items():
    print(key + ':',  value)

<class 'dict'>

id: erm2-nwe9
name: 311 Service Requests from 2010 to Present
assetType: dataset
attribution: 311, DoITT
averageRating: 0
category: Social Services
createdAt: 1318225937
description: <b>NOTE: This data does not present a full picture of 311 calls or service requests, in part because of operational and system complexities associated with remote call taking necessitated by the unprecedented volume 311 is handling during the Covid-19 crisis. The City is working to address this issue. </b>

All 311 Service Requests from 2010 to present. This information is automatically updated daily.
displayType: table
downloadCount: 398217
hideFromCatalog: False
hideFromDataJson: False
indexUpdatedAt: 1571326778
newBackend: True
numberOfComments: 19
oid: 28506835
provenance: official
publicationAppendEnabled: False
publicationDate: 1524193398
publicationGroup: 244403
publicationStage: published
rowClass:
rowIdentifierColumnId: 354922030
rowsUpdatedAt: 1611542481
rowsUpdatedBy: 5fuc-pqz2
tableId: 15047182
totalTimesRated: 0
viewCount: 438235
viewLastModified: 1587586718
viewType: tabular

In [25]:
# Saving metadata dictionary as 'metadata'
metadata = client.get_metadata(socrata_dataset_identifier)
print(type(metadata))

# Previewing the datatype of columns
print(type(metadata['columns']), ', length:', len(metadata['columns']))

# Previewing the field names for each element in our columns list
for x in metadata['columns']:
    print(x['fieldName'])

<class 'dict'>
<class 'list'> , length: 46
unique_key
created_date
closed_date
agency
agency_name
complaint_type
descriptor
location_type
incident_zip
incident_address
street_name
cross_street_1
cross_street_2
intersection_street_1
intersection_street_2
address_type
city
landmark
facility_type
status
due_date
resolution_description
resolution_action_updated_date
community_board
bbl
borough
x_coordinate_state_plane
y_coordinate_state_plane
open_data_channel_type
park_facility_name
park_borough
vehicle_type
taxi_company_borough
taxi_pick_up_location
bridge_highway_name
bridge_highway_direction
road_ramp
bridge_highway_segment
latitude
longitude
location
:@computed_region_efsh_h5xi
:@computed_region_f5dn_yrer
:@computed_region_yeji_bk3q
:@computed_region_92fq_4b7q
:@computed_region_sbqj_enih

In [26]:
metadata = client.get_metadata(socrata_dataset_identifier)

# Previewing the first element in our columns list
metadata['columns'][0]

{'id': 354922030,
 'name': 'Unique Key',
 'dataTypeName': 'text',
 'description': 'Unique identifier of a Service Request (SR) in the open data set\n',
 'fieldName': 'unique_key',
 'position': 1,
 'renderTypeName': 'text',
 'tableColumnId': 1567787,
 'width': 220,
 'cachedContents': {'largest': '49608994',
  'non_null': '24796821',
  'null': '0',
  'top': [{'item': '10693408', 'count': '1'},
   {'item': '10836749', 'count': '1'},
   {'item': '10836967', 'count': '1'},
   {'item': '11051177', 'count': '1'},
   {'item': '11413576', 'count': '1'},
   {'item': '11463895', 'count': '1'},
   {'item': '11463896', 'count': '1'},
   {'item': '11464334', 'count': '1'},
   {'item': '11464394', 'count': '1'},
   {'item': '11464467', 'count': '1'},
   {'item': '11464508', 'count': '1'},
   {'item': '11464509', 'count': '1'},
   {'item': '11464521', 'count': '1'},
   {'item': '11464567', 'count': '1'},
   {'item': '11464572', 'count': '1'},
   {'item': '11464639', 'count': '1'},
   {'item': '11464846', 'count': '1'},
   {'item': '11464850', 'count': '1'},
   {'item': '11464938', 'count': '1'},
   {'item': '11465153', 'count': '1'}],
  'smallest': '10564222',
  'not_null': '21933957',
  'cardinality': '24796821'},
 'format': {}}

In [27]:
metadata = client.get_metadata(socrata_dataset_identifier)

# Identifying our columns list
cols = metadata['columns']

# Previewing first position in our columns list
cols[1]

{'id': 354922031,
 'name': 'Created Date',
 'dataTypeName': 'calendar_date',
 'description': 'Date SR  was created\n',
 'fieldName': 'created_date',
 'position': 2,
 'renderTypeName': 'calendar_date',
 'tableColumnId': 1567788,
 'width': 244,
 'cachedContents': {'largest': '2021-01-24T02:04:05.000',
  'non_null': '24796821',
  'null': '0',
  'top': [{'item': '2013-01-24T00:00:00.000', 'count': '7650'},
   {'item': '2015-01-08T00:00:00.000', 'count': '7242'},
   {'item': '2014-01-07T00:00:00.000', 'count': '7030'},
   {'item': '2015-02-16T00:00:00.000', 'count': '6430'},
   {'item': '2014-01-08T00:00:00.000', 'count': '6197'},
   {'item': '2012-01-04T00:00:00.000', 'count': '5933'},
   {'item': '2013-11-25T00:00:00.000', 'count': '5909'},
   {'item': '2014-01-23T00:00:00.000', 'count': '5782'},
   {'item': '2014-01-22T00:00:00.000', 'count': '5497'},
   {'item': '2015-01-07T00:00:00.000', 'count': '5432'},
   {'item': '2011-01-24T00:00:00.000', 'count': '5380'},
   {'item': '2011-10-28T00:00:00.000', 'count': '5275'},
   {'item': '2010-01-04T00:00:00.000', 'count': '5130'},
   {'item': '2014-01-24T00:00:00.000', 'count': '5113'},
   {'item': '2010-12-14T00:00:00.000', 'count': '5102'},
   {'item': '2014-11-18T00:00:00.000', 'count': '5029'},
   {'item': '2010-12-15T00:00:00.000', 'count': '5021'},
   {'item': '2014-11-19T00:00:00.000', 'count': '5006'},
   {'item': '2013-01-25T00:00:00.000', 'count': '4959'},
   {'item': '2010-12-06T00:00:00.000', 'count': '4880'}],
  'smallest': '2010-01-01T00:00:00.000',
  'not_null': '21933957',
  'cardinality': '16862517'},
 'format': {'view': 'date_time', 'align': 'left'}}

In [28]:
# Creating a fieldName dictionary for every element in our column list
fieldName = {x['fieldName']: x for x in cols}

# Previewing the field names (values) in our fieldName dictionary
for key in fieldName.keys():
    print(key)

unique_key
created_date
closed_date
agency
agency_name
complaint_type
descriptor
location_type
incident_zip
incident_address
street_name
cross_street_1
cross_street_2
intersection_street_1
intersection_street_2
address_type
city
landmark
facility_type
status
due_date
resolution_description
resolution_action_updated_date
community_board
bbl
borough
x_coordinate_state_plane
y_coordinate_state_plane
open_data_channel_type
park_facility_name
park_borough
vehicle_type
taxi_company_borough
taxi_pick_up_location
bridge_highway_name
bridge_highway_direction
road_ramp
bridge_highway_segment
latitude
longitude
location
:@computed_region_efsh_h5xi
:@computed_region_f5dn_yrer
:@computed_region_yeji_bk3q
:@computed_region_92fq_4b7q
:@computed_region_sbqj_enih

In [29]:
# Removing the last five field names
list(fieldName.keys())[:-5]

['unique_key',
 'created_date',
 'closed_date',
 'agency',
 'agency_name',
 'complaint_type',
 'descriptor',
 'location_type',
 'incident_zip',
 'incident_address',
 'street_name',
 'cross_street_1',
 'cross_street_2',
 'intersection_street_1',
 'intersection_street_2',
 'address_type',
 'city',
 'landmark',
 'facility_type',
 'status',
 'due_date',
 'resolution_description',
 'resolution_action_updated_date',
 'community_board',
 'bbl',
 'borough',
 'x_coordinate_state_plane',
 'y_coordinate_state_plane',
 'open_data_channel_type',
 'park_facility_name',
 'park_borough',
 'vehicle_type',
 'taxi_company_borough',
 'taxi_pick_up_location',
 'bridge_highway_name',
 'bridge_highway_direction',
 'road_ramp',
 'bridge_highway_segment',
 'latitude',
 'longitude',
 'location']

In [30]:
# Removing the last five field names
cols_as_list = list(fieldName.keys())[:-5]

cols_as_list

['unique_key',
 'created_date',
 'closed_date',
 'agency',
 'agency_name',
 'complaint_type',
 'descriptor',
 'location_type',
 'incident_zip',
 'incident_address',
 'street_name',
 'cross_street_1',
 'cross_street_2',
 'intersection_street_1',
 'intersection_street_2',
 'address_type',
 'city',
 'landmark',
 'facility_type',
 'status',
 'due_date',
 'resolution_description',
 'resolution_action_updated_date',
 'community_board',
 'bbl',
 'borough',
 'x_coordinate_state_plane',
 'y_coordinate_state_plane',
 'open_data_channel_type',
 'park_facility_name',
 'park_borough',
 'vehicle_type',
 'taxi_company_borough',
 'taxi_pick_up_location',
 'bridge_highway_name',
 'bridge_highway_direction',
 'road_ramp',
 'bridge_highway_segment',
 'latitude',
 'longitude',
 'location']

# Socrata Query Language (SoQL) - Analyzing NYC 311 Complaints

## Most NYC 311 Complaints by Complaint Type

In [31]:
# Source domain for NYC Open Data on Socrata
socrata_domain = 'data.cityofnewyork.us'

# Data set id for NYC 311 on NYC Open Data on Socrata
socrata_dataset_identifier = 'erm2-nwe9'

# Socrata - The main class that interacts with the SODA API. We pass the source domain value
# of NYC Open data, the app token as 'None', and set the timeout parameter for '1,000 seconds'
client = Socrata(socrata_domain, None, timeout=1000)

# SoQL query string below:
# Select the complaint_type and the count of complaint_type columns 
# grouped by complaint_type, sorted by the count of complaint_type in descending order
# and limit our records to 1,000.

query = """
SELECT 
    complaint_type, 
    count(complaint_type) AS count
GROUP BY 
    complaint_type
ORDER BY 
    count(complaint_type) DESC
LIMIT 
    1000
"""

# Requesting data from the NYC 311 data set
# and passing our query as a full SoQL query string
results = client.get(socrata_dataset_identifier, query=query)

# results is returned as JSON from API and converted to Python list of
# dictionaries by sodapy
print(type(results), 'Returned a list from our request.\n')

# Identifying type of first element of our results list
print(type(results[0]), 'However, request is actually a list of dictionaries.\n')

# Convert list of dictionaries to a pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print(type(results_df), 'Convert list of dictionaries to DataFrame.')
print('Rows and columns of data:', results_df.shape)

results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

<class 'list'> Returned a list from our request.

<class 'dict'> However, request is actually a list of dictionaries.

<class 'pandas.core.frame.DataFrame'> Convert list of dictionaries to DataFrame.
Rows and columns of data: (445, 2)

            complaint_type    count
0      Noise - Residential  2236002
1           HEAT/HOT WATER  1418669
2          Illegal Parking  1124210
3         Blocked Driveway  1044959
4         Street Condition  1020518
5   Street Light Condition   983562
6                  HEATING   887869
7                 PLUMBING   747458
8             Water System   686847
9  Noise - Street/Sidewalk   682283

## Most NYC 311 Complaints by Descriptor

In [32]:
# Source domain for NYC Open Data on Socrata
socrata_domain = 'data.cityofnewyork.us'

# Data set id for NYC 311 on NYC Open Data on Socrata
socrata_dataset_identifier = 'erm2-nwe9'

# Socrata - The main class that interacts with the SODA API. We pass the source domain value
# of NYC Open data, the app token as 'None', and set the timeout parameter for '1,000 seconds'
client = Socrata(socrata_domain, None, timeout=1000)

# SoQL query string below:
# Select the descriptor and count of descriptor columns grouped by descriptor,
# sort by the count in descending order and limit our records to 1,000.

query = """
SELECT 
    descriptor, 
    count(descriptor) AS count
GROUP BY 
    descriptor
ORDER BY 
    count DESC
LIMIT 
    1000
"""

# Requesting data from the NYC 311 data set
# and passing our query as a full SoQL query string
results = client.get(socrata_dataset_identifier, query=query)

# Convert list of dictionaries to a pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('Rows and columns of data:', results_df.shape)

results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

Rows and columns of data: (1000, 2)

         descriptor    count
0  Loud Music/Party  2335159
1   ENTIRE BUILDING   923819
2              HEAT   871935
3         No Access   778060
4  Street Light Out   729234
5           Pothole   617633
6  Banging/Pounding   612473
7    APARTMENT ONLY   494850
8      Loud Talking   358823
9           CEILING   358776

## Most NYC 311 Complaints by Day

In [33]:
# Source domain for NYC Open Data on Socrata
socrata_domain = 'data.cityofnewyork.us'

# Data set id for NYC 311 on NYC Open Data on Socrata
socrata_dataset_identifier = 'erm2-nwe9'

# Socrata - The main class that interacts with the SODA API. We pass the source domain value
# of NYC Open data, the app token as 'None', and set the timeout parameter for '1,000 seconds'
client = Socrata(socrata_domain, None, timeout=1000)

# SoQL query string below:
# Select the day and count day grouped by day,
# sort by count in descending order and limit our records to 1,000.

query = """
SELECT 
    date_trunc_ymd(created_date) AS day, 
    count(day) AS count
GROUP BY 
    day
ORDER BY 
    count DESC
LIMIT 
    1000
"""

# Requesting data from the NYC 311 data set
# and passing our query as a full SoQL query string
results = client.get(socrata_dataset_identifier, query=query)

# Convert list of dictionaries to a pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('Rows and columns of data:', results_df.shape)

results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

Rows and columns of data: (1000, 2)

                       day  count
0  2020-08-04T00:00:00.000  23314
1  2020-08-05T00:00:00.000  18305
2  2020-07-05T00:00:00.000  16014
3  2020-07-04T00:00:00.000  15365
4  2020-06-20T00:00:00.000  15098
5  2020-06-21T00:00:00.000  14965
6  2020-06-28T00:00:00.000  12899
7  2020-06-27T00:00:00.000  12074
8  2020-08-09T00:00:00.000  12057
9  2020-08-06T00:00:00.000  12043

## Displaying the difference between the date (timestamp) and day (date_trunc_ymd) columns

In [34]:
# Source domain for NYC Open Data on Socrata
socrata_domain = 'data.cityofnewyork.us'

# Data set id for NYC 311 on NYC Open Data on Socrata
socrata_dataset_identifier = 'erm2-nwe9'

# Socrata - The main class that interacts with the SODA API. We pass the source domain value
# of NYC Open data, the app token as 'None', and set the timeout parameter for '1,000 seconds'
client = Socrata(socrata_domain, None, timeout=1000)

# SoQL query string below:
# Select the timestamp, day and count timestamp grouped by timestamp,
# sort by count in descending order and limit our records to 1,000.

query = """
SELECT 
    created_date as timestamp, 
    date_trunc_ymd(created_date) as day, 
    count(timestamp) AS count
GROUP BY 
    timestamp
ORDER BY 
    count ASC
LIMIT 
    1000
"""

# Requesting data from the NYC 311 data set
# and passing our query as a full SoQL query string
results = client.get(socrata_dataset_identifier, query=query)

# Convert list of dictionaries to a pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('Rows and columns of data:', results_df.shape)

results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

Rows and columns of data: (1000, 3)

                 timestamp                      day count
0  2010-01-01T15:48:17.000  2010-01-01T00:00:00.000     1
1  2010-01-01T16:01:57.000  2010-01-01T00:00:00.000     1
2  2010-01-01T15:40:55.000  2010-01-01T00:00:00.000     1
3  2010-01-01T15:48:01.000  2010-01-01T00:00:00.000     1
4  2010-01-01T15:57:07.000  2010-01-01T00:00:00.000     1
5  2010-01-01T16:01:43.000  2010-01-01T00:00:00.000     1
6  2010-01-01T15:35:00.000  2010-01-01T00:00:00.000     1
7  2010-01-01T15:39:32.000  2010-01-01T00:00:00.000     1
8  2010-01-01T15:45:00.000  2010-01-01T00:00:00.000     1
9  2010-01-01T15:48:00.000  2010-01-01T00:00:00.000     1

## Analyzing NYC 311 Street Flooding Complaints

### Searching the data set for the word "flood" in the complaint_type field

In [37]:
# Source domain for NYC Open Data on Socrata
socrata_domain = 'data.cityofnewyork.us'

# Data set id for NYC 311 on NYC Open Data on Socrata
socrata_dataset_identifier = 'erm2-nwe9'

# Socrata - The main class that interacts with the SODA API. We pass the source domain value
# of NYC Open data, the app token as 'None', and set the timeout parameter for '1,000 seconds'
client = Socrata(socrata_domain, None, timeout=1000)

# SoQL query string below:
# Select complaint_type and count of complaint_type grouped by compaint_type,
# where the word "flood" is in compplaint_type,
# sort count in descending order and limit our records to 1,000.

query = """
SELECT 
    complaint_type, 
    count(complaint_type) AS count
WHERE 
    LOWER(complaint_type) LIKE '%flood%'
GROUP BY 
    complaint_type
ORDER BY 
    count(descriptor) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get(socrata_dataset_identifier, query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (0, 0)

Empty DataFrame
Columns: []
Index: []

### Searching the data set for the word "flood" in the descriptor field

In [38]:
# Source domain for NYC Open Data on Socrata
socrata_domain = 'data.cityofnewyork.us'

# Data set id for NYC 311 on NYC Open Data on Socrata
socrata_dataset_identifier = 'erm2-nwe9'

# Socrata - The main class that interacts with the SODA API. We pass the source domain value
# of NYC Open data, the app token as 'None', and set the timeout parameter for '1,000 seconds'
client = Socrata(socrata_domain, None, timeout=1000)

# SoQL query string below:
# Select complaint_type and count of complaint_type grouped by compaint_type,
# where the word "flood" is in descriptor,
# sort count in descending order and limit our records to 1,000.

query = """
SELECT 
    complaint_type, 
    count(complaint_type) AS count
WHERE 
    LOWER(descriptor) LIKE '%flood%'
GROUP BY 
    complaint_type
ORDER BY 
    count(descriptor) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get(socrata_dataset_identifier, query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (4, 2)

           complaint_type   count
0                   Sewer  120262
1  Street Light Condition    9046
2  OEM Literature Request     271
3           Public Toilet      48

### Searching the data set where complaint_type field = 'Sewer'

In [39]:
# Source domain for NYC Open Data on Socrata
socrata_domain = 'data.cityofnewyork.us'

# Data set id for NYC 311 on NYC Open Data on Socrata
socrata_dataset_identifier = 'erm2-nwe9'

# Socrata - The main class that interacts with the SODA API. We pass the source domain value
# of NYC Open data, the app token as 'None', and set the timeout parameter for '1,000 seconds'
client = Socrata(socrata_domain, None, timeout=1000)

# SoQL query string below:
# Select descriptor and count of descriptor grouped by descriptor,
# where complaint_type = 'Sewer',
# sort count in descending order and limit our records to 1,000.

query = """
SELECT 
    descriptor, 
    count(descriptor)
WHERE 
    complaint_type='Sewer'
GROUP BY 
    descriptor
ORDER BY 
    count(descriptor) DESC
LIMIT 1000
"""

# First 1000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get(socrata_dataset_identifier, query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.head(len(results_df))

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (27, 2)

                                           descriptor count_descriptor
0                    Sewer Backup (Use Comments) (SA)           148597
1    Catch Basin Clogged/Flooding (Use Comments) (SC)            89834
2             Catch Basin Sunken/Damaged/Raised (SC1)            28517
3                                Street Flooding (SJ)            27516
4              Manhole Cover Broken/Making Noise (SB)            19778
5             Manhole Cover Missing (Emergency) (SA3)            17428
6                                    Sewer Odor (SA2)            15343
7                  Defective/Missing Curb Piece (SC4)             8485
8               Manhole Overflow (Use Comments) (SA1)             6839
9                            Catch Basin Search (SC2)             4153
10                  Catch Basin Grating Missing (SA4)             3751
11                Manhole Sunken/Damaged/Raised (SB1)             3418
12                              Highway Flooding (SH)             2834
13                Culvert Blocked/Needs Cleaning (SE)             2205
14           Other Sewer Problem (Use Comments) (SZZ)             1241
15                                  Sewer Break (SBR)             1033
16                    Plate Noisy/Sunken/Raised (SB5)              874
17            Plate Missing/Moved-Exposing Hole (SB4)              645
18                        RAIN GARDEN DEBRIS (SRGDBR)              368
19                   Street Cave-In / Depression (SG)              302
20                                      Trench (SZZ1)              192
21                      RAIN GARDEN FLOODING (SRGFLD)               78
22                   DAMAGE STRUCTURE/RAILING (SRGDM)               49
23  Recurring after SOAP *FOR DEP INTERNAL USE ONL...               29
24       Street Cave-In *Dep Internal Use Only* (SG1)               27
25  Catch Basin Connection Broken *Dep Internal Us...               15
26  SOAP segment *FOR DEP INTERNAL USE ONLY* (SOAP...                1

### Searching the data set where the word "flood" is in the descriptor field

In [40]:
# Source domain for NYC Open Data on Socrata
socrata_domain = 'data.cityofnewyork.us'

# Data set id for NYC 311 on NYC Open Data on Socrata
socrata_dataset_identifier = 'erm2-nwe9'

# Socrata - The main class that interacts with the SODA API. We pass the source domain value
# of NYC Open data, the app token as 'None', and set the timeout parameter for '1,000 seconds'
client = Socrata(socrata_domain, None, timeout=1000)

# SoQL query string below:
# Select descriptor and count of descriptor grouped by descriptor,
# where the word "flood" is in descriptor,
# sort count in descending order and limit our records to 1,000.

query = """
SELECT 
    descriptor, 
    count(descriptor) AS count
WHERE 
    LOWER(descriptor) LIKE '%flood%'
GROUP BY 
    descriptor
ORDER BY 
    count(descriptor) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get(socrata_dataset_identifier, query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (11, 2)

                                          descriptor  count
0   Catch Basin Clogged/Flooding (Use Comments) (SC)  89834
1                               Street Flooding (SJ)  27516
2                               Flood Light Lamp Out   5963
3                              Highway Flooding (SH)   2834
4                           Flood Light Lamp Cycling   2511
5                                Ready NY - Flooding    271
6                        Flood Light Lamp Dayburning    205
7                           Flood Light Lamp Missing    190
8                               Flood Light Lamp Dim    177
9                      RAIN GARDEN FLOODING (SRGFLD)     78
10                                           Flooded     48

### Displaying the highest number of street flooding complaints by day

In [41]:
# Source domain for NYC Open Data on Socrata
socrata_domain = 'data.cityofnewyork.us'

# Data set id for NYC 311 on NYC Open Data on Socrata
socrata_dataset_identifier = 'erm2-nwe9'

# Socrata - The main class that interacts with the SODA API. We pass the source domain value
# of NYC Open data, the app token as 'None', and set the timeout parameter for '1,000 seconds'
client = Socrata(socrata_domain, None, timeout=1000)

# SoQL query string below:
# Select the day and the count day columns grouped by day,
# where the descriptor is Street Flooding (SJ),
# sort the count in descending order and limit our records to 1,000.

query = """
SELECT 
    date_trunc_ymd(created_date) as day, 
    count(created_date) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    day
ORDER BY 
    count DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get(socrata_dataset_identifier, query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)

results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 2)

                       day count
0  2017-05-05T00:00:00.000   247
1  2014-12-09T00:00:00.000   226
2  2014-04-30T00:00:00.000   189
3  2018-04-16T00:00:00.000   163
4  2013-05-08T00:00:00.000   162
5  2016-11-15T00:00:00.000   151
6  2016-02-08T00:00:00.000   150
7  2018-11-25T00:00:00.000   142
8  2020-07-10T00:00:00.000   131
9  2010-10-01T00:00:00.000   130

### Selecting all the rows and columns where the descriptor field = 'Street Flooding'

In [42]:
# Source domain for NYC Open Data on Socrata
socrata_domain = 'data.cityofnewyork.us'

# Data set id for NYC 311 on NYC Open Data on Socrata
socrata_dataset_identifier = 'erm2-nwe9'

# Socrata - The main class that interacts with the SODA API. We pass the source domain value
# of NYC Open data, the app token as 'None', and set the timeout parameter for '1,000 seconds'
client = Socrata(socrata_domain, None, timeout=1000)

# SoQL query string below:
# Select all columns where the descriptor is Street Flooding(SJ),
# sort the created date field in descending order and limit our records to 1,000.

query = """
SELECT 
    *
WHERE 
    descriptor == 'Street Flooding (SJ)'
ORDER BY 
    created_date DESC
LIMIT 
    1000
"""

# Requesting data from the NYC 311 data set
# and passing our query as a full SoQL query string
results = client.get(socrata_dataset_identifier, query=query)

# results is returned as JSON from API and converted to Python list of
# dictionaries by sodapy
print(type(results), 'Returned a list from our request.\n')

# Identifying type of first element of our results list
print(type(results[0]), 'However, request is actually a list of dictionaries.\n')

# Convert list of dictionaries to a pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print(type(results_df), 'Convert list of dictionaries to DataFrame.')
print('Rows and columns of data:', results_df.shape)

# Writing out sample data as a csv
results_df.to_csv('sample_data_street_flooding.csv', index=False)

# Previewing the first five rows of our DataFrame
results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

<class 'list'> Returned a list from our request.

<class 'dict'> However, request is actually a list of dictionaries.

<class 'pandas.core.frame.DataFrame'> Convert list of dictionaries to DataFrame.
Rows and columns of data: (1000, 30)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,incident_zip,incident_address,street_name,...,x_coordinate_state_plane,y_coordinate_state_plane,open_data_channel_type,park_facility_name,park_borough,latitude,longitude,location,intersection_street_1,intersection_street_2
0,49604481,2021-01-23T12:08:00.000,2021-01-23T13:15:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11436,145-02 123 AVENUE,123 AVENUE,...,1041381,185295,PHONE,Unspecified,QUEENS,40.675084373851774,-73.79403657456889,"{'latitude': '40.675084373851774', 'longitude'...",NaN,NaN
1,49606303,2021-01-23T06:19:00.000,NaN,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10309,4500 ARTHUR KILL ROAD,ARTHUR KILL ROAD,...,918022,133544,PHONE,Unspecified,STATEN ISLAND,40.53297560051577,-74.2382515060485,"{'latitude': '40.53297560051577', 'longitude':...",NaN,NaN
2,49596869,2021-01-22T19:24:00.000,2021-01-23T08:45:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10016,201 EAST 33 STREET,EAST 33 STREET,...,990273,210672,PHONE,Unspecified,MANHATTAN,40.74492051459423,-73.9782636934084,"{'latitude': '40.74492051459423', 'longitude':...",NaN,NaN
3,49596600,2021-01-22T16:01:00.000,NaN,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11226,2902 BEVERLEY ROAD,BEVERLEY ROAD,...,998177,174298,PHONE,Unspecified,BROOKLYN,40.64507343391906,-73.94981428723014,"{'latitude': '40.64507343391906', 'longitude':...",NaN,NaN
4,49590021,2021-01-21T19:33:00.000,2021-01-22T11:20:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11427,88-01 LYMAN STREET,LYMAN STREET,...,1058588,205393,PHONE,Unspecified,QUEENS,40.73012063798075,-73.73178196964847,"{'latitude': '40.73012063798075', 'longitude':...",NaN,NaN

## Analyzing NYC 311 Data Sets with the Most Downloads

In [43]:
type(client)

sodapy.Socrata

In [44]:
type(client.datasets())

list

In [45]:
type(client.datasets()[0])

dict

In [46]:
len(client.datasets())

3141

In [47]:
# Reading in a list of dictionaries of our data into a pandas DataFrame
df = pd.DataFrame.from_records(client.datasets())

df.head()

,resource,classification,metadata,permalink,link,owner,creator,preview_image_url
0,"{'name': 'DOB Job Application Filings', 'id': ...","{'categories': ['economy', 'environment', 'hou...",{'domain': 'data.cityofnewyork.us'},https://data.cityofnewyork.us/d/ic3t-wcy2,https://data.cityofnewyork.us/Housing-Developm...,"{'id': '5fuc-pqz2', 'user_type': 'interactive'...","{'id': '5fuc-pqz2', 'user_type': 'interactive'...",NaN
1,"{'name': 'Civil Service List (Active)', 'id': ...","{'categories': [], 'tags': [], 'domain_categor...",{'domain': 'data.cityofnewyork.us'},https://data.cityofnewyork.us/d/vx8i-nprf,https://data.cityofnewyork.us/City-Government/...,"{'id': '5fuc-pqz2', 'user_type': 'interactive'...","{'id': '5fuc-pqz2', 'user_type': 'interactive'...",NaN
2,"{'name': 'TLC New Driver Application Status', ...","{'categories': ['transportation', 'environment...",{'domain': 'data.cityofnewyork.us'},https://data.cityofnewyork.us/d/dpec-ucu7,https://data.cityofnewyork.us/Transportation/T...,"{'id': '5fuc-pqz2', 'user_type': 'interactive'...","{'id': '5fuc-pqz2', 'user_type': 'interactive'...",NaN
3,"{'name': 'For Hire Vehicles (FHV) - Active', '...","{'categories': [], 'tags': [], 'domain_categor...",{'domain': 'data.cityofnewyork.us'},https://data.cityofnewyork.us/d/8wbx-tsch,https://data.cityofnewyork.us/Transportation/F...,"{'id': '5fuc-pqz2', 'user_type': 'interactive'...","{'id': '5fuc-pqz2', 'user_type': 'interactive'...",NaN
4,{'name': 'For Hire Vehicles (FHV) - Active Dri...,"{'categories': [], 'tags': [], 'domain_categor...",{'domain': 'data.cityofnewyork.us'},https://data.cityofnewyork.us/d/xjfq-wh2d,https://data.cityofnewyork.us/Transportation/F...,"{'id': '5fuc-pqz2', 'user_type': 'interactive'...","{'id': '5fuc-pqz2', 'user_type': 'interactive'...",NaN

In [48]:
# Only saving the dictionary in the resource column
df = df.resource

# Reading the dictionary in the resource column into a pandas DataFrame
df = pd.DataFrame.from_records(df)

df.head()

,name,id,parent_fxf,description,attribution,attribution_link,contact_email,type,updatedAt,createdAt,...,columns_field_name,columns_datatype,columns_description,columns_format,download_count,provenance,lens_view_type,blob_mime_type,hide_from_data_json,publication_date
0,DOB Job Application Filings,ic3t-wcy2,[],This dataset contains all job applications sub...,Department of Buildings (DOB),None,None,dataset,2021-01-24T21:13:00.000Z,2013-04-18T15:18:56.000Z,...,"[job_status_descrp, standpipe, job_status, fir...","[Text, Text, Text, Text, Text, Text, Text, Tex...","[Status code description, Standpipe Work Type?...","[{'align': 'right'}, {'align': 'right'}, {'ali...",36818.0,official,tabular,None,False,2020-06-22T18:23:35.000Z
1,Civil Service List (Active),vx8i-nprf,[],A Civil Service List consists of all candidate...,Department of Citywide Administrative Services...,None,None,dataset,2021-01-25T14:54:14.000Z,2016-06-14T21:12:15.000Z,...,"[exam_no, list_no, first_name, mi, last_name, ...","[text, number, text, text, text, number, text,...",[A four (4) digit number that identifies a civ...,"[{'displayStyle': 'plain', 'align': 'left'}, {...",34199.0,official,tabular,None,False,2021-01-25T14:54:14.000Z
2,TLC New Driver Application Status,dpec-ucu7,[],THIS DATASET IS UPDATED SEVERAL TIMES PER DAY....,Taxi and Limousine Commission (TLC),None,None,dataset,2021-01-25T17:01:51.000Z,2016-05-17T18:43:43.000Z,...,"[driver_exam, medical_clearance_form, app_date...","[Text, Text, Calendar date, Text, Text, Text, ...",[Upon Completion of TLC Driver Training (Taxi ...,"[{'displayStyle': 'plain', 'align': 'left'}, {...",35345.0,official,tabular,None,False,2019-12-17T18:44:57.000Z
3,For Hire Vehicles (FHV) - Active,8wbx-tsch,[],"<b>PLEASE NOTE:</b> This dataset, which includ...",Taxi and Limousine Commission (TLC),None,None,dataset,2021-01-25T20:32:54.000Z,2015-07-16T17:33:32.000Z,...,"[active, vehicle_license_number, name, license...","[text, text, text, text, calendar_date, text, ...","[Permit active or not\n, FHV Vehicle License N...","[{'displayStyle': 'plain', 'align': 'left'}, {...",253906.0,official,tabular,None,False,2021-01-25T20:32:54.000Z
4,For Hire Vehicles (FHV) - Active Drivers,xjfq-wh2d,[],"<b>PLEASE NOTE:</b> This dataset, which includ...",Taxi and Limousine Commission (TLC),None,None,dataset,2021-01-25T20:08:15.000Z,2015-07-16T17:24:02.000Z,...,"[license_number, name, type, expiration_date, ...","[number, text, text, calendar_date, text, cale...","[FHV License Number\n, Driver Name\n\n, Type o...","[{'precisionStyle': 'standard', 'noCommas': 't...",221826.0,official,tabular,None,False,2021-01-25T20:08:15.000Z

In [49]:
len(df)

3141

In [50]:
# Sorting the data sets by download_count
df[['name', 'download_count']].sort_values(by='download_count', ascending=False).head()

                                           name  download_count
33           Demographic Statistics By Zip Code       1013453.0
1239                  Overhead Electronic Signs        429382.0
5     311 Service Requests from 2010 to Present        398215.0
10                   Medallion Drivers - Active        287817.0
3              For Hire Vehicles (FHV) - Active        253906.0

In [51]:
highest_downloaded = df[['name', 'download_count']].sort_values(by='download_count', ascending=False)

print('The data set {}'.format(highest_downloaded['name'].iloc[0]), \
     'has {} downloads'.format(f"{highest_downloaded['download_count'].iloc[0]:,.0f}"), \
     'and is the most downloaded data set on NYC Open Data.')

The data set Demographic Statistics By Zip Code has 1,013,453 downloads and is the most downloaded data set on NYC Open Data.