In [209]:
# importing libraries
import pandas as pd
from sodapy import Socrata
import itertools

In [210]:
%reload_ext watermark

In [211]:
# %watermark -v -p pandas,sodapy,itertools
%watermark -a "Mark Bauer" -u -t -d -v -p pandas,sodapy,itertools

Mark Bauer
last updated: 2021-01-22 10:25:39

CPython 3.7.1
IPython 7.18.1

pandas 1.0.0
sodapy 2.0.0
itertools unknown

Documention for installing watermark: https://github.com/rasbt/watermark

# sodapy

sodapy is a python client for the Socrata Open Data API.

## To learn more about sodapy
Installing: https://pypi.org/project/sodapy/  
GitHub: https://github.com/xmunoz/sodapy

## The official Socrata Open Data API docs
    
https://dev.socrata.com/

## Queries using SODA

https://dev.socrata.com/docs/queries/

## Inspiration for this notebook
https://github.com/xmunoz/sodapy/blob/master/examples/soql_queries.ipynb

In [212]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

In [213]:
client = Socrata(socrata_domain, None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [214]:
type(client)

sodapy.Socrata

In [215]:
type(client.datasets())

list

In [216]:
type(client.datasets()[0])

dict

In [217]:
client.datasets()[0].keys()

dict_keys(['resource', 'classification', 'metadata', 'permalink', 'link', 'owner', 'creator'])

In [218]:
limit = 5

dict(itertools.islice(client.datasets()[0]['resource'].items(), limit))

{'name': 'DOB Job Application Filings',
 'id': 'ic3t-wcy2',
 'parent_fxf': [],
 'description': 'This dataset contains all job applications submitted through the Borough Offices, through eFiling, or through the HUB, which have a "Latest Action Date" since January 1, 2000. This dataset does not include jobs submitted through DOB NOW. See the DOB NOW: Build â€“ Job Application Filings dataset for DOB NOW jobs.',
 'attribution': 'Department of Buildings (DOB)'}

In [219]:
idx = 0

for dataset_id in client.datasets():
    if client.datasets()[idx]['resource']['id'] == 'erm2-nwe9':
        print(client.datasets()[idx]['resource']['name'], \
              '\nindex:', idx)
        break
    else:
        idx += 1

311 Service Requests from 2010 to Present
index: 5

In [220]:
idx_311 = idx
print(idx_311)

client.datasets()[idx_311]

5

{'resource': {'name': '311 Service Requests from 2010 to Present',
  'id': 'erm2-nwe9',
  'parent_fxf': [],
  'description': '<b>NOTE: This data does not present a full picture of 311 calls or service requests, in part because of operational and system complexities associated with remote call taking necessitated by the unprecedented volume 311 is handling during the Covid-19 crisis. The City is working to address this issue. </b>\r\n\r\nAll 311 Service Requests from 2010 to present. This information is automatically updated daily.',
  'attribution': '311, DoITT',
  'attribution_link': None,
  'contact_email': None,
  'type': 'dataset',
  'updatedAt': '2021-01-22T02:33:16.000Z',
  'createdAt': '2011-10-10T05:52:17.000Z',
  'metadata_updated_at': '2020-04-22T20:18:38.000Z',
  'data_updated_at': '2021-01-22T02:33:16.000Z',
  'page_views': {'page_views_last_week': 1169,
   'page_views_last_month': 4598,
   'page_views_total': 437590,
   'page_views_last_week_log': 10.192292814470768,
   'page_views_last_month_log': 12.167104482379935,
   'page_views_total_log': 18.73922354074623},
  'columns_name': ['Location',
   'Park Borough',
   'Bridge Highway Segment',
   'Bridge Highway Name',
   'Unique Key',
   'Road Ramp',
   'Resolution Description',
   'Community Districts',
   'Status',
   'Intersection Street 2',
   'Cross Street 1',
   'Incident Address',
   'Incident Zip',
   'Intersection Street 1',
   'Taxi Pick Up Location',
   'Y Coordinate (State Plane)',
   'City',
   'Due Date',
   'Resolution Action Updated Date',
   'BBL',
   'Park Facility Name',
   'Taxi Company Borough',
   'Bridge Highway Direction',
   'Longitude',
   'Location (city)',
   'Zip Codes',
   'Facility Type',
   'Community Board',
   'Borough',
   'X Coordinate (State Plane)',
   'Location (zip)',
   'Agency',
   'Open Data Channel Type',
   'Vehicle Type',
   'Latitude',
   'Created Date',
   'Closed Date',
   'Agency Name',
   'Complaint Type',
   'Descriptor',
   'Location Type',
   'Street Name',
   'Cross Street 2',
   'Address Type',
   'Borough Boundaries',
   'City Council Districts',
   'Police Precincts',
   'Location (address)',
   'Location (state)',
   'Landmark'],
  'columns_field_name': ['location',
   'park_borough',
   'bridge_highway_segment',
   'bridge_highway_name',
   'unique_key',
   'road_ramp',
   'resolution_description',
   ':@computed_region_f5dn_yrer',
   'status',
   'intersection_street_2',
   'cross_street_1',
   'incident_address',
   'incident_zip',
   'intersection_street_1',
   'taxi_pick_up_location',
   'y_coordinate_state_plane',
   'city',
   'due_date',
   'resolution_action_updated_date',
   'bbl',
   'park_facility_name',
   'taxi_company_borough',
   'bridge_highway_direction',
   'longitude',
   'location_city',
   ':@computed_region_efsh_h5xi',
   'facility_type',
   'community_board',
   'borough',
   'x_coordinate_state_plane',
   'location_zip',
   'agency',
   'open_data_channel_type',
   'vehicle_type',
   'latitude',
   'created_date',
   'closed_date',
   'agency_name',
   'complaint_type',
   'descriptor',
   'location_type',
   'street_name',
   'cross_street_2',
   'address_type',
   ':@computed_region_yeji_bk3q',
   ':@computed_region_92fq_4b7q',
   ':@computed_region_sbqj_enih',
   'location_address',
   'location_state',
   'landmark'],
  'columns_datatype': ['Point',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Number',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Number',
   'Text',
   'Calendar date',
   'Calendar date',
   'Text',
   'Text',
   'Text',
   'Text',
   'Number',
   'Text',
   'Number',
   'Text',
   'Text',
   'Text',
   'Number',
   'Text',
   'Text',
   'Text',
   'Text',
   'Number',
   'Calendar date',
   'Calendar date',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Text',
   'Number',
   'Number',
   'Number',
   'Text',
   'Text',
   'Text'],
  'columns_description': ['Combination of the geo based lat & long of the incident location\n',
   'The borough of incident if it is a Parks Dept facility\n',
   'Additional information on the section of the Bridge/Highway were the incident took place.\n',
   'If the incident is identified as a Bridge/Highway, the name will be displayed here.\n',
   'Unique identifier of a Service Request (SR) in the open data set\n',
   'If the incident location was Bridge/Highway this column differentiates if the issue was on the Road or the Ramp.\n',
   'Describes the last action taken on the SR by the responding agency.  May describe next or future steps. \n',
   '',
   'Status of SR submitted \n',
   'Second intersecting street based on geo validated incident location\n',
   'First Cross street based on the geo validated incident location\n',
   'House number of incident address provided by submitter.\n',
   'Incident location zip code, provided by geo validation.\n',
   'First intersecting street based on geo validated incident location\n',
   'If the incident is identified as a taxi, this field displays the taxi pick up location\n',
   'Geo validated,  Y coordinate of the incident location. \n',
   'City of the incident location provided by geovalidation.\n',
   'Date when responding agency is expected to update the SR.  This is based on the Complaint Type and internal Service Level Agreements (SLAs).\n',
   'Date when responding agency last updated the SR.\n',
   'Borough Block and Lot, provided by geovalidation. Parcel number to identify the location of location of buildings and properties in NYC.',
   'If the incident location is a Parks Dept facility, the Name of the facility will appear here\n',
   'If the incident is identified as a taxi, this field will display the borough of the taxi company. \n',
   'If the incident is identified as a Bridge/Highway, the direction where the issue took place would be displayed here.\n',
   'Geo based Long of the incident location\n',
   '',
   '',
   'If available, this field describes the type of city facility associated to the SR\n',
   'Provided by geovalidation.\n',
   'Provided by the submitter and confirmed by geovalidation.\n',
   'Geo validated, X coordinate of the incident location. \n',
   '',
   'Acronym of responding City Government Agency\n',
   'Indicates how the SR was submitted to 311.  i.e. By Phone, Online, Mobile, Other or Unknown.',
   'If the incident is a taxi, this field describes the type of TLC vehicle. \n',
   'Geo based Lat of the incident location\n',
   'Date SR  was created\n',
   'Date SR was closed by responding agency\n',
   'Full Agency name of responding City Government Agency',
   'This is the first level of a hierarchy identifying the topic of the incident or condition. Complaint Type may have a corresponding Descriptor (below) or may stand alone.',
   'This is  associated to the Complaint Type, and provides further detail on the incident or condition. Descriptor values are dependent on the Complaint Type, and are not always required in SR. \n',
   'Describes the type of location used in the address information \n',
   'Street name of incident address provided by the submitter\n',
   'Second Cross Street based on the geo validated incident location\n',
   'Type of incident location information available.\n',
   '',
   '',
   '',
   '',
   '',
   'If the incident location is identified as a Landmark the name of the landmark will display here\n'],
  'columns_format': [{'view': 'coords', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {},
   {},
   {},
   {},
   {},
   {},
   {},
   {'displayStyle': 'plain', 'align': 'left'},
   {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'view': 'date_time', 'align': 'left'},
   {'view': 'date_time', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'},
   {},
   {},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'},
   {},
   {},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'},
   {'view': 'date_time', 'align': 'left'},
   {'view': 'date_time', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {'displayStyle': 'plain', 'align': 'left'},
   {},
   {},
   {},
   {},
   {},
   {},
   {},
   {},
   {},
   {},
   {'displayStyle': 'plain', 'align': 'left'}],
  'download_count': 398101,
  'provenance': 'official',
  'lens_view_type': 'tabular',
  'blob_mime_type': None,
  'hide_from_data_json': False,
  'publication_date': '2018-04-20T03:03:18.000Z'},
 'classification': {'categories': ['public safety',
   'transportation',
   'recreation'],
  'tags': [],
  'domain_category': 'Social Services',
  'domain_tags': ['pothole',
   'bike',
   'rat',
   'rodent',
   '2018od4a-report',
   'all service requests',
   'service request status',
   '2012',
   '2011',
   '2010',
   'socialservices',
   'city government',
   '311 service requests',
   '311'],
  'domain_metadata': [{'key': 'Update_Automation', 'value': 'Yes'},
   {'key': 'Update_Date-Made-Public', 'value': '10/18/2011'},
   {'key': 'Update_Update-Frequency', 'value': 'Daily'},
   {'key': 'Dataset-Information_Agency', 'value': '311'}]},
 'metadata': {'domain': 'data.cityofnewyork.us'},
 'permalink': 'https://data.cityofnewyork.us/d/erm2-nwe9',
 'link': 'https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9',
 'owner': {'id': '5fuc-pqz2',
  'user_type': 'interactive',
  'display_name': 'NYC OpenData'},
 'creator': {'id': '5fuc-pqz2',
  'user_type': 'interactive',
  'display_name': 'NYC OpenData'}}

In [221]:
lst_of_keys = list(client.datasets()[idx_311]['resource'].keys())

print(lst_of_keys)

['name', 'id', 'parent_fxf', 'description', 'attribution', 'attribution_link', 'contact_email', 'type', 'updatedAt', 'createdAt', 'metadata_updated_at', 'data_updated_at', 'page_views', 'columns_name', 'columns_field_name', 'columns_datatype', 'columns_description', 'columns_format', 'download_count', 'provenance', 'lens_view_type', 'blob_mime_type', 'hide_from_data_json', 'publication_date']

In [222]:
for item in lst_of_keys:
    print(item + ':', client.datasets()[idx_311]['resource'][item], '\n')

name: 311 Service Requests from 2010 to Present

id: erm2-nwe9

parent_fxf: []

description: <b>NOTE: This data does not present a full picture of 311 calls or service requests, in part because of operational and system complexities associated with remote call taking necessitated by the unprecedented volume 311 is handling during the Covid-19 crisis. The City is working to address this issue. </b>

All 311 Service Requests from 2010 to present. This information is automatically updated daily.

attribution: 311, DoITT

attribution_link: None

contact_email: None

type: dataset

updatedAt: 2021-01-22T02:33:16.000Z

createdAt: 2011-10-10T05:52:17.000Z

metadata_updated_at: 2020-04-22T20:18:38.000Z

data_updated_at: 2021-01-22T02:33:16.000Z

page_views: {'page_views_last_week': 1169, 'page_views_last_month': 4598, 'page_views_total': 437590, 'page_views_last_week_log': 10.192292814470768, 'page_views_last_month_log': 12.167104482379935, 'page_views_total_log': 18.73922354074623}

columns_name: ['Location', 'Park Borough', 'Bridge Highway Segment', 'Bridge Highway Name', 'Unique Key', 'Road Ramp', 'Resolution Description', 'Community Districts', 'Status', 'Intersection Street 2', 'Cross Street 1', 'Incident Address', 'Incident Zip', 'Intersection Street 1', 'Taxi Pick Up Location', 'Y Coordinate (State Plane)', 'City', 'Due Date', 'Resolution Action Updated Date', 'BBL', 'Park Facility Name', 'Taxi Company Borough', 'Bridge Highway Direction', 'Longitude', 'Location (city)', 'Zip Codes', 'Facility Type', 'Community Board', 'Borough', 'X Coordinate (State Plane)', 'Location (zip)', 'Agency', 'Open Data Channel Type', 'Vehicle Type', 'Latitude', 'Created Date', 'Closed Date', 'Agency Name', 'Complaint Type', 'Descriptor', 'Location Type', 'Street Name', 'Cross Street 2', 'Address Type', 'Borough Boundaries', 'City Council Districts', 'Police Precincts', 'Location (address)', 'Location (state)', 'Landmark']

columns_field_name: ['location', 'park_borough', 'bridge_highway_segment', 'bridge_highway_name', 'unique_key', 'road_ramp', 'resolution_description', ':@computed_region_f5dn_yrer', 'status', 'intersection_street_2', 'cross_street_1', 'incident_address', 'incident_zip', 'intersection_street_1', 'taxi_pick_up_location', 'y_coordinate_state_plane', 'city', 'due_date', 'resolution_action_updated_date', 'bbl', 'park_facility_name', 'taxi_company_borough', 'bridge_highway_direction', 'longitude', 'location_city', ':@computed_region_efsh_h5xi', 'facility_type', 'community_board', 'borough', 'x_coordinate_state_plane', 'location_zip', 'agency', 'open_data_channel_type', 'vehicle_type', 'latitude', 'created_date', 'closed_date', 'agency_name', 'complaint_type', 'descriptor', 'location_type', 'street_name', 'cross_street_2', 'address_type', ':@computed_region_yeji_bk3q', ':@computed_region_92fq_4b7q', ':@computed_region_sbqj_enih', 'location_address', 'location_state', 'landmark']

columns_datatype: ['Point', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Number', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Number', 'Text', 'Calendar date', 'Calendar date', 'Text', 'Text', 'Text', 'Text', 'Number', 'Text', 'Number', 'Text', 'Text', 'Text', 'Number', 'Text', 'Text', 'Text', 'Text', 'Number', 'Calendar date', 'Calendar date', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Text', 'Number', 'Number', 'Number', 'Text', 'Text', 'Text']

columns_description: ['Combination of the geo based lat & long of the incident location\n', 'The borough of incident if it is a Parks Dept facility\n', 'Additional information on the section of the Bridge/Highway were the incident took place.\n', 'If the incident is identified as a Bridge/Highway, the name will be displayed here.\n', 'Unique identifier of a Service Request (SR) in the open data set\n', 'If the incident location was Bridge/Highway this column differentiates if the issue was on the Road or the Ramp.\n', 'Describes the last action taken on the SR by the responding agency.  May describe next or future steps. \n', '', 'Status of SR submitted \n', 'Second intersecting street based on geo validated incident location\n', 'First Cross street based on the geo validated incident location\n', 'House number of incident address provided by submitter.\n', 'Incident location zip code, provided by geo validation.\n', 'First intersecting street based on geo validated incident location\n', 'If the incident is identified as a taxi, this field displays the taxi pick up location\n', 'Geo validated,  Y coordinate of the incident location. \n', 'City of the incident location provided by geovalidation.\n', 'Date when responding agency is expected to update the SR.  This is based on the Complaint Type and internal Service Level Agreements (SLAs).\n', 'Date when responding agency last updated the SR.\n', 'Borough Block and Lot, provided by geovalidation. Parcel number to identify the location of location of buildings and properties in NYC.', 'If the incident location is a Parks Dept facility, the Name of the facility will appear here\n', 'If the incident is identified as a taxi, this field will display the borough of the taxi company. \n', 'If the incident is identified as a Bridge/Highway, the direction where the issue took place would be displayed here.\n', 'Geo based Long of the incident location\n', '', '', 'If available, this field describes the type of city facility associated to the SR\n', 'Provided by geovalidation.\n', 'Provided by the submitter and confirmed by geovalidation.\n', 'Geo validated, X coordinate of the incident location. \n', '', 'Acronym of responding City Government Agency\n', 'Indicates how the SR was submitted to 311.  i.e. By Phone, Online, Mobile, Other or Unknown.', 'If the incident is a taxi, this field describes the type of TLC vehicle. \n', 'Geo based Lat of the incident location\n', 'Date SR  was created\n', 'Date SR was closed by responding agency\n', 'Full Agency name of responding City Government Agency', 'This is the first level of a hierarchy identifying the topic of the incident or condition. Complaint Type may have a corresponding Descriptor (below) or may stand alone.', 'This is  associated to the Complaint Type, and provides further detail on the incident or condition. Descriptor values are dependent on the Complaint Type, and are not always required in SR. \n', 'Describes the type of location used in the address information \n', 'Street name of incident address provided by the submitter\n', 'Second Cross Street based on the geo validated incident location\n', 'Type of incident location information available.\n', '', '', '', '', '', 'If the incident location is identified as a Landmark the name of the landmark will display here\n']

columns_format: [{'view': 'coords', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {}, {}, {}, {}, {}, {}, {}, {'displayStyle': 'plain', 'align': 'left'}, {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'}, {'displayStyle': 'plain', 'align': 'left'}, {'view': 'date_time', 'align': 'left'}, {'view': 'date_time', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'}, {}, {}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'}, {}, {}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'precisionStyle': 'standard', 'noCommas': 'false', 'align': 'right'}, {'view': 'date_time', 'align': 'left'}, {'view': 'date_time', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {'displayStyle': 'plain', 'align': 'left'}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {'displayStyle': 'plain', 'align': 'left'}]

download_count: 398101

provenance: official

lens_view_type: tabular

blob_mime_type: None

hide_from_data_json: False

publication_date: 2018-04-20T03:03:18.000Z

In [223]:
try:
    print(type(client.get(socrata_dataset_identifier)))
except:
    print('timeout error. skipping.')
    pass

<class 'list'>

In [224]:
try:
    print(client.get(socrata_dataset_identifier)[0].keys())
except:
    print('timeout error. skipping.')
    pass

dict_keys(['unique_key', 'created_date', 'agency', 'agency_name', 'complaint_type', 'descriptor', 'location_type', 'incident_zip', 'incident_address', 'street_name', 'cross_street_1', 'cross_street_2', 'intersection_street_1', 'intersection_street_2', 'city', 'landmark', 'status', 'community_board', 'bbl', 'borough', 'x_coordinate_state_plane', 'y_coordinate_state_plane', 'open_data_channel_type', 'park_facility_name', 'park_borough', 'latitude', 'longitude', 'location', ':@computed_region_efsh_h5xi', ':@computed_region_f5dn_yrer', ':@computed_region_yeji_bk3q', ':@computed_region_92fq_4b7q', ':@computed_region_sbqj_enih'])

In [225]:
try:
    print(client.get(socrata_dataset_identifier, select='*')[0])
except:
    print('timeout error. skipping.')
    pass

{'unique_key': '49576914', 'created_date': '2021-01-21T01:59:53.000', 'agency': 'NYPD', 'agency_name': 'New York City Police Department', 'complaint_type': 'Noise - Residential', 'descriptor': 'Banging/Pounding', 'location_type': 'Residential Building/House', 'incident_zip': '10451', 'incident_address': '780 GRAND CONCOURSE', 'street_name': 'GRAND CONCOURSE', 'cross_street_1': 'EAST  156 STREET', 'cross_street_2': 'EAST  158 STREET', 'intersection_street_1': 'EAST  156 STREET', 'intersection_street_2': 'EAST  158 STREET', 'city': 'BRONX', 'landmark': 'GRAND CONCOURSE', 'status': 'In Progress', 'community_board': '04 BRONX', 'bbl': '2024580080', 'borough': 'BRONX', 'x_coordinate_state_plane': '1005342', 'y_coordinate_state_plane': '239801', 'open_data_channel_type': 'ONLINE', 'park_facility_name': 'Unspecified', 'park_borough': 'BRONX', 'latitude': '40.82484871625428', 'longitude': '-73.92378998473639', 'location': {'latitude': '40.82484871625428', 'longitude': '-73.92378998473639', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}'}, ':@computed_region_efsh_h5xi': '10929', ':@computed_region_f5dn_yrer': '50', ':@computed_region_yeji_bk3q': '5', ':@computed_region_92fq_4b7q': '42', ':@computed_region_sbqj_enih': '27'}

In [226]:
client.get_metadata(socrata_dataset_identifier).keys()

dict_keys(['id', 'name', 'assetType', 'attribution', 'averageRating', 'category', 'createdAt', 'description', 'displayType', 'downloadCount', 'hideFromCatalog', 'hideFromDataJson', 'indexUpdatedAt', 'newBackend', 'numberOfComments', 'oid', 'provenance', 'publicationAppendEnabled', 'publicationDate', 'publicationGroup', 'publicationStage', 'rowClass', 'rowIdentifierColumnId', 'rowsUpdatedAt', 'rowsUpdatedBy', 'tableId', 'totalTimesRated', 'viewCount', 'viewLastModified', 'viewType', 'approvals', 'columns', 'grants', 'metadata', 'owner', 'query', 'rights', 'tableAuthor', 'tags', 'flags'])

In [227]:
keys = client.get_metadata(socrata_dataset_identifier).keys()
for key in keys:
    print(key)

id
name
assetType
attribution
averageRating
category
createdAt
description
displayType
downloadCount
hideFromCatalog
hideFromDataJson
indexUpdatedAt
newBackend
numberOfComments
oid
provenance
publicationAppendEnabled
publicationDate
publicationGroup
publicationStage
rowClass
rowIdentifierColumnId
rowsUpdatedAt
rowsUpdatedBy
tableId
totalTimesRated
viewCount
viewLastModified
viewType
approvals
columns
grants
metadata
owner
query
rights
tableAuthor
tags
flags

In [228]:
print('id and name of dataset\n' + \
      '-' * 30 + \
      '\nid:', client.get_metadata(socrata_dataset_identifier)['id'], \
      '\nname:', client.get_metadata(socrata_dataset_identifier)['name'])

id and name of dataset
------------------------------
id: erm2-nwe9
name: 311 Service Requests from 2010 to Present

In [229]:
metadata = client.get_metadata(socrata_dataset_identifier)

limit = 30
out = dict(itertools.islice(metadata.items(), limit))
print(type(out), '\n')

for key, value in out.items():
    print(key + ':',  value)

<class 'dict'>

id: erm2-nwe9
name: 311 Service Requests from 2010 to Present
assetType: dataset
attribution: 311, DoITT
averageRating: 0
category: Social Services
createdAt: 1318225937
description: <b>NOTE: This data does not present a full picture of 311 calls or service requests, in part because of operational and system complexities associated with remote call taking necessitated by the unprecedented volume 311 is handling during the Covid-19 crisis. The City is working to address this issue. </b>

All 311 Service Requests from 2010 to present. This information is automatically updated daily.
displayType: table
downloadCount: 398109
hideFromCatalog: False
hideFromDataJson: False
indexUpdatedAt: 1571326778
newBackend: True
numberOfComments: 19
oid: 28506835
provenance: official
publicationAppendEnabled: False
publicationDate: 1524193398
publicationGroup: 244403
publicationStage: published
rowClass:
rowIdentifierColumnId: 354922030
rowsUpdatedAt: 1611282796
rowsUpdatedBy: 5fuc-pqz2
tableId: 15047182
totalTimesRated: 0
viewCount: 437608
viewLastModified: 1587586718
viewType: tabular

In [230]:
metadata = client.get_metadata(socrata_dataset_identifier)

for x in metadata['columns']:
    print(x['fieldName'])

unique_key
created_date
closed_date
agency
agency_name
complaint_type
descriptor
location_type
incident_zip
incident_address
street_name
cross_street_1
cross_street_2
intersection_street_1
intersection_street_2
address_type
city
landmark
facility_type
status
due_date
resolution_description
resolution_action_updated_date
community_board
bbl
borough
x_coordinate_state_plane
y_coordinate_state_plane
open_data_channel_type
park_facility_name
park_borough
vehicle_type
taxi_company_borough
taxi_pick_up_location
bridge_highway_name
bridge_highway_direction
road_ramp
bridge_highway_segment
latitude
longitude
location
:@computed_region_efsh_h5xi
:@computed_region_f5dn_yrer
:@computed_region_yeji_bk3q
:@computed_region_92fq_4b7q
:@computed_region_sbqj_enih

In [231]:
metadata = client.get_metadata(socrata_dataset_identifier)

metadata['columns'][0]

{'id': 354922030,
 'name': 'Unique Key',
 'dataTypeName': 'text',
 'description': 'Unique identifier of a Service Request (SR) in the open data set\n',
 'fieldName': 'unique_key',
 'position': 1,
 'renderTypeName': 'text',
 'tableColumnId': 1567787,
 'width': 220,
 'cachedContents': {'largest': '49585129',
  'non_null': '24777237',
  'null': '0',
  'top': [{'item': '10693408', 'count': '1'},
   {'item': '10836749', 'count': '1'},
   {'item': '10836967', 'count': '1'},
   {'item': '11051177', 'count': '1'},
   {'item': '11413576', 'count': '1'},
   {'item': '11463895', 'count': '1'},
   {'item': '11463896', 'count': '1'},
   {'item': '11464334', 'count': '1'},
   {'item': '11464394', 'count': '1'},
   {'item': '11464467', 'count': '1'},
   {'item': '11464508', 'count': '1'},
   {'item': '11464509', 'count': '1'},
   {'item': '11464521', 'count': '1'},
   {'item': '11464567', 'count': '1'},
   {'item': '11464572', 'count': '1'},
   {'item': '11464639', 'count': '1'},
   {'item': '11464846', 'count': '1'},
   {'item': '11464850', 'count': '1'},
   {'item': '11464938', 'count': '1'},
   {'item': '11465153', 'count': '1'}],
  'smallest': '10564222',
  'not_null': '21933957',
  'cardinality': '24777237'},
 'format': {}}

In [232]:
metadata = client.get_metadata(socrata_dataset_identifier)

# locating our columns (i.e. field names) and saving as a new variable called 'lst'
cols = metadata['columns']

# previewing first five
cols[1]

{'id': 354922031,
 'name': 'Created Date',
 'dataTypeName': 'calendar_date',
 'description': 'Date SR  was created\n',
 'fieldName': 'created_date',
 'position': 2,
 'renderTypeName': 'calendar_date',
 'tableColumnId': 1567788,
 'width': 244,
 'cachedContents': {'largest': '2021-01-21T01:59:53.000',
  'non_null': '24777237',
  'null': '0',
  'top': [{'item': '2013-01-24T00:00:00.000', 'count': '7650'},
   {'item': '2015-01-08T00:00:00.000', 'count': '7242'},
   {'item': '2014-01-07T00:00:00.000', 'count': '7030'},
   {'item': '2015-02-16T00:00:00.000', 'count': '6430'},
   {'item': '2014-01-08T00:00:00.000', 'count': '6197'},
   {'item': '2012-01-04T00:00:00.000', 'count': '5933'},
   {'item': '2013-11-25T00:00:00.000', 'count': '5909'},
   {'item': '2014-01-23T00:00:00.000', 'count': '5782'},
   {'item': '2014-01-22T00:00:00.000', 'count': '5497'},
   {'item': '2015-01-07T00:00:00.000', 'count': '5432'},
   {'item': '2011-01-24T00:00:00.000', 'count': '5380'},
   {'item': '2011-10-28T00:00:00.000', 'count': '5275'},
   {'item': '2010-01-04T00:00:00.000', 'count': '5130'},
   {'item': '2014-01-24T00:00:00.000', 'count': '5113'},
   {'item': '2010-12-14T00:00:00.000', 'count': '5102'},
   {'item': '2014-11-18T00:00:00.000', 'count': '5029'},
   {'item': '2010-12-15T00:00:00.000', 'count': '5021'},
   {'item': '2014-11-19T00:00:00.000', 'count': '5006'},
   {'item': '2013-01-25T00:00:00.000', 'count': '4959'},
   {'item': '2010-12-06T00:00:00.000', 'count': '4880'}],
  'smallest': '2010-01-01T00:00:00.000',
  'not_null': '21933957',
  'cardinality': '16846471'},
 'format': {'view': 'date_time', 'align': 'left'}}

In [233]:
# saving our field names as a variable
fieldName = {x['fieldName']: x for x in cols}

# printing the field names in our data
for key in fieldName.keys():
    print(key)

unique_key
created_date
closed_date
agency
agency_name
complaint_type
descriptor
location_type
incident_zip
incident_address
street_name
cross_street_1
cross_street_2
intersection_street_1
intersection_street_2
address_type
city
landmark
facility_type
status
due_date
resolution_description
resolution_action_updated_date
community_board
bbl
borough
x_coordinate_state_plane
y_coordinate_state_plane
open_data_channel_type
park_facility_name
park_borough
vehicle_type
taxi_company_borough
taxi_pick_up_location
bridge_highway_name
bridge_highway_direction
road_ramp
bridge_highway_segment
latitude
longitude
location
:@computed_region_efsh_h5xi
:@computed_region_f5dn_yrer
:@computed_region_yeji_bk3q
:@computed_region_92fq_4b7q
:@computed_region_sbqj_enih

In [234]:
list(fieldName.keys())[:-5]

['unique_key',
 'created_date',
 'closed_date',
 'agency',
 'agency_name',
 'complaint_type',
 'descriptor',
 'location_type',
 'incident_zip',
 'incident_address',
 'street_name',
 'cross_street_1',
 'cross_street_2',
 'intersection_street_1',
 'intersection_street_2',
 'address_type',
 'city',
 'landmark',
 'facility_type',
 'status',
 'due_date',
 'resolution_description',
 'resolution_action_updated_date',
 'community_board',
 'bbl',
 'borough',
 'x_coordinate_state_plane',
 'y_coordinate_state_plane',
 'open_data_channel_type',
 'park_facility_name',
 'park_borough',
 'vehicle_type',
 'taxi_company_borough',
 'taxi_pick_up_location',
 'bridge_highway_name',
 'bridge_highway_direction',
 'road_ramp',
 'bridge_highway_segment',
 'latitude',
 'longitude',
 'location']

In [235]:
cols_as_list = list(fieldName.keys())[:-5]

cols_as_list

['unique_key',
 'created_date',
 'closed_date',
 'agency',
 'agency_name',
 'complaint_type',
 'descriptor',
 'location_type',
 'incident_zip',
 'incident_address',
 'street_name',
 'cross_street_1',
 'cross_street_2',
 'intersection_street_1',
 'intersection_street_2',
 'address_type',
 'city',
 'landmark',
 'facility_type',
 'status',
 'due_date',
 'resolution_description',
 'resolution_action_updated_date',
 'community_board',
 'bbl',
 'borough',
 'x_coordinate_state_plane',
 'y_coordinate_state_plane',
 'open_data_channel_type',
 'park_facility_name',
 'park_borough',
 'vehicle_type',
 'taxi_company_borough',
 'taxi_pick_up_location',
 'bridge_highway_name',
 'bridge_highway_direction',
 'road_ramp',
 'bridge_highway_segment',
 'latitude',
 'longitude',
 'location']

# Analyzing Complaints in NYC 311 Data

In [236]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    complaint_type, count(complaint_type)
GROUP BY 
    complaint_type
ORDER BY 
    count(complaint_type) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (445, 2)

            complaint_type count_complaint_type
0      Noise - Residential              2233193
1           HEAT/HOT WATER              1415595
2          Illegal Parking              1122305
3         Blocked Driveway              1043860
4         Street Condition              1019990
5   Street Light Condition               983070
6                  HEATING               887869
7                 PLUMBING               747098
8             Water System               686587
9  Noise - Street/Sidewalk               681895

In [237]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    descriptor, count(descriptor)
GROUP BY 
    descriptor
ORDER BY 
    count(descriptor) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 2)

         descriptor count_descriptor
0  Loud Music/Party          2332913
1   ENTIRE BUILDING           921835
2              HEAT           871935
3         No Access           777241
4  Street Light Out           728878
5           Pothole           617237
6  Banging/Pounding           611596
7    APARTMENT ONLY           493760
8           CEILING           358646
9      Loud Talking           358574

In [238]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    date_trunc_ymd(created_date) AS day, count(day) AS count
GROUP BY 
    day
ORDER BY 
    count DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 2)

                       day  count
0  2020-08-04T00:00:00.000  23314
1  2020-08-05T00:00:00.000  18305
2  2020-07-05T00:00:00.000  16014
3  2020-07-04T00:00:00.000  15365
4  2020-06-20T00:00:00.000  15098
5  2020-06-21T00:00:00.000  14965
6  2020-06-28T00:00:00.000  12899
7  2020-06-27T00:00:00.000  12074
8  2020-08-09T00:00:00.000  12057
9  2020-08-06T00:00:00.000  12043

In [239]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    created_date as timestamp, date_trunc_ymd(created_date) as day, count(created_date) AS count
GROUP BY 
    timestamp
ORDER BY 
    count ASC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 3)

                 timestamp                      day count
0  2010-01-01T15:48:17.000  2010-01-01T00:00:00.000     1
1  2010-01-01T16:01:57.000  2010-01-01T00:00:00.000     1
2  2010-01-01T15:40:55.000  2010-01-01T00:00:00.000     1
3  2010-01-01T15:48:01.000  2010-01-01T00:00:00.000     1
4  2010-01-01T15:57:07.000  2010-01-01T00:00:00.000     1
5  2010-01-01T16:01:43.000  2010-01-01T00:00:00.000     1
6  2010-01-01T15:35:00.000  2010-01-01T00:00:00.000     1
7  2010-01-01T15:39:32.000  2010-01-01T00:00:00.000     1
8  2010-01-01T15:45:00.000  2010-01-01T00:00:00.000     1
9  2010-01-01T15:48:00.000  2010-01-01T00:00:00.000     1

# Analyzing Street Flooding Complaints in NYC 311 Data

In [240]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    complaint_type, count(complaint_type) AS count
WHERE 
    LOWER(complaint_type) LIKE '%flood%'
GROUP BY 
    complaint_type
ORDER BY 
    count(descriptor) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (0, 0)

Empty DataFrame
Columns: []
Index: []

In [241]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    complaint_type, count(complaint_type) AS count
WHERE 
    LOWER(descriptor) LIKE '%flood%'
GROUP BY 
    complaint_type
ORDER BY 
    count(descriptor) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (4, 2)

           complaint_type   count
0                   Sewer  120231
1  Street Light Condition    9044
2  OEM Literature Request     271
3           Public Toilet      48

In [242]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    descriptor, count(descriptor)
WHERE 
    complaint_type='Sewer'
GROUP BY 
    descriptor
ORDER BY 
    count(descriptor) DESC
LIMIT 1000
"""

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.head(len(results_df))

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (27, 2)

                                           descriptor count_descriptor
0                    Sewer Backup (Use Comments) (SA)           148531
1    Catch Basin Clogged/Flooding (Use Comments) (SC)            89811
2             Catch Basin Sunken/Damaged/Raised (SC1)            28512
3                                Street Flooding (SJ)            27508
4              Manhole Cover Broken/Making Noise (SB)            19778
5             Manhole Cover Missing (Emergency) (SA3)            17425
6                                    Sewer Odor (SA2)            15338
7                  Defective/Missing Curb Piece (SC4)             8484
8               Manhole Overflow (Use Comments) (SA1)             6830
9                            Catch Basin Search (SC2)             4153
10                  Catch Basin Grating Missing (SA4)             3750
11                Manhole Sunken/Damaged/Raised (SB1)             3418
12                              Highway Flooding (SH)             2834
13                Culvert Blocked/Needs Cleaning (SE)             2204
14           Other Sewer Problem (Use Comments) (SZZ)             1228
15                                  Sewer Break (SBR)             1033
16                    Plate Noisy/Sunken/Raised (SB5)              874
17            Plate Missing/Moved-Exposing Hole (SB4)              645
18                        RAIN GARDEN DEBRIS (SRGDBR)              368
19                   Street Cave-In / Depression (SG)              302
20                                      Trench (SZZ1)              192
21                      RAIN GARDEN FLOODING (SRGFLD)               78
22                   DAMAGE STRUCTURE/RAILING (SRGDM)               49
23  Recurring after SOAP *FOR DEP INTERNAL USE ONL...               29
24       Street Cave-In *Dep Internal Use Only* (SG1)               27
25  Catch Basin Connection Broken *Dep Internal Us...               15
26  SOAP segment *FOR DEP INTERNAL USE ONLY* (SOAP...                1

In [243]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    descriptor, count(descriptor) AS count
WHERE 
    LOWER(descriptor) LIKE '%flood%'
GROUP BY 
    descriptor
ORDER BY 
    count(descriptor) DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (11, 2)

                                          descriptor  count
0   Catch Basin Clogged/Flooding (Use Comments) (SC)  89811
1                               Street Flooding (SJ)  27508
2                               Flood Light Lamp Out   5962
3                              Highway Flooding (SH)   2834
4                           Flood Light Lamp Cycling   2510
5                                Ready NY - Flooding    271
6                        Flood Light Lamp Dayburning    205
7                           Flood Light Lamp Missing    190
8                               Flood Light Lamp Dim    177
9                      RAIN GARDEN FLOODING (SRGFLD)     78
10                                           Flooded     48

In [244]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    date_trunc_ymd(created_date) as day, count(created_date) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    day
ORDER BY 
    count DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)

results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 2)

                       day count
0  2017-05-05T00:00:00.000   247
1  2014-12-09T00:00:00.000   226
2  2014-04-30T00:00:00.000   189
3  2018-04-16T00:00:00.000   163
4  2013-05-08T00:00:00.000   162
5  2016-11-15T00:00:00.000   151
6  2016-02-08T00:00:00.000   150
7  2018-11-25T00:00:00.000   142
8  2020-07-10T00:00:00.000   131
9  2010-10-01T00:00:00.000   130

In [245]:
client = Socrata("data.cityofnewyork.us", None, timeout=1000)

query = """
SELECT 
    *
WHERE 
    descriptor == 'Street Flooding (SJ)'
ORDER BY 
    created_date DESC
LIMIT 
    1000
"""

# Returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", 
                     query=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data:', results_df.shape)
results_df.to_csv('sample_data_street_flooding.csv')

results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 30)

,unique_key,created_date,agency,agency_name,complaint_type,descriptor,incident_zip,incident_address,street_name,cross_street_1,...,park_borough,latitude,longitude,location,closed_date,resolution_description,resolution_action_updated_date,bbl,intersection_street_1,intersection_street_2
0,49576602,2021-01-20T15:31:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11413,225 STREET,225 STREET,131 AVENUE,...,QUEENS,40.68004946200496,-73.74340162464055,"{'latitude': '40.68004946200496', 'longitude':...",NaN,NaN,NaN,NaN,NaN,NaN
1,49565998,2021-01-19T11:05:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11229,2210 EAST 26 STREET,EAST 26 STREET,AVENUE V,...,BROOKLYN,40.597364087593924,-73.94517616611179,"{'latitude': '40.597364087593924', 'longitude'...",2021-01-19T11:30:00.000,The Department of Environmental Protection has...,2021-01-19T11:30:00.000,3073830009,NaN,NaN
2,49565305,2021-01-19T09:57:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11230,949 EAST 8 STREET,EAST 8 STREET,AVENUE I,...,BROOKLYN,40.62598453034461,-73.96830562191265,"{'latitude': '40.62598453034461', 'longitude':...",NaN,NaN,NaN,3065210073,NaN,NaN
3,49563652,2021-01-19T08:10:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11692,166 BEACH 61 STREET,BEACH 61 STREET,LARKIN AVE,...,QUEENS,40.59104862582951,-73.79039634376524,"{'latitude': '40.59104862582951', 'longitude':...",2021-01-19T10:00:00.000,The Department of Environmental Protection ins...,2021-01-19T10:00:00.000,4159030001,NaN,NaN
4,49561704,2021-01-18T16:21:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11219,NaN,NaN,NaN,...,BROOKLYN,40.632392395788386,-73.99529114244247,"{'latitude': '40.632392395788386', 'longitude'...",NaN,NaN,NaN,NaN,54 STREET,NEW UTRECHT AVENUE

# Analyzing NYC 311 Data Sets with Most Downloads

In [246]:
type(client)

sodapy.Socrata

In [247]:
type(client.datasets())

list

In [248]:
len(client.datasets())

3140

In [249]:
df = pd.DataFrame.from_records(client.datasets())

df.head()

,resource,classification,metadata,permalink,link,owner,creator,preview_image_url
0,"{'name': 'DOB Job Application Filings', 'id': ...","{'categories': ['economy', 'environment', 'hou...",{'domain': 'data.cityofnewyork.us'},https://data.cityofnewyork.us/d/ic3t-wcy2,https://data.cityofnewyork.us/Housing-Developm...,"{'id': '5fuc-pqz2', 'user_type': 'interactive'...","{'id': '5fuc-pqz2', 'user_type': 'interactive'...",NaN
1,"{'name': 'Civil Service List (Active)', 'id': ...","{'categories': [], 'tags': [], 'domain_categor...",{'domain': 'data.cityofnewyork.us'},https://data.cityofnewyork.us/d/vx8i-nprf,https://data.cityofnewyork.us/City-Government/...,"{'id': '5fuc-pqz2', 'user_type': 'interactive'...","{'id': '5fuc-pqz2', 'user_type': 'interactive'...",NaN
2,"{'name': 'TLC New Driver Application Status', ...","{'categories': ['transportation', 'environment...",{'domain': 'data.cityofnewyork.us'},https://data.cityofnewyork.us/d/dpec-ucu7,https://data.cityofnewyork.us/Transportation/T...,"{'id': '5fuc-pqz2', 'user_type': 'interactive'...","{'id': '5fuc-pqz2', 'user_type': 'interactive'...",NaN
3,"{'name': 'For Hire Vehicles (FHV) - Active', '...","{'categories': [], 'tags': [], 'domain_categor...",{'domain': 'data.cityofnewyork.us'},https://data.cityofnewyork.us/d/8wbx-tsch,https://data.cityofnewyork.us/Transportation/F...,"{'id': '5fuc-pqz2', 'user_type': 'interactive'...","{'id': '5fuc-pqz2', 'user_type': 'interactive'...",NaN
4,{'name': 'For Hire Vehicles (FHV) - Active Dri...,"{'categories': [], 'tags': [], 'domain_categor...",{'domain': 'data.cityofnewyork.us'},https://data.cityofnewyork.us/d/xjfq-wh2d,https://data.cityofnewyork.us/Transportation/F...,"{'id': '5fuc-pqz2', 'user_type': 'interactive'...","{'id': '5fuc-pqz2', 'user_type': 'interactive'...",NaN

In [250]:
df = df.resource

df = pd.DataFrame.from_records(df)

df.head()

,name,id,parent_fxf,description,attribution,attribution_link,contact_email,type,updatedAt,createdAt,...,columns_field_name,columns_datatype,columns_description,columns_format,download_count,provenance,lens_view_type,blob_mime_type,hide_from_data_json,publication_date
0,DOB Job Application Filings,ic3t-wcy2,[],This dataset contains all job applications sub...,Department of Buildings (DOB),None,None,dataset,2021-01-21T21:04:02.000Z,2013-04-18T15:18:56.000Z,...,"[job_type, bin__, block, fuel_burning, applica...","[Text, Text, Text, Text, Text, Text, Number, T...","[Job Type, based on DOB Job Code (NB-New Build...","[{'align': 'right'}, {'align': 'right'}, {'ali...",36764.0,official,tabular,None,False,2020-06-22T18:23:35.000Z
1,Civil Service List (Active),vx8i-nprf,[],A Civil Service List consists of all candidate...,Department of Citywide Administrative Services...,None,None,dataset,2021-01-22T14:51:12.000Z,2016-06-14T21:12:15.000Z,...,"[exam_no, list_no, first_name, mi, last_name, ...","[text, number, text, text, text, number, text,...",[A four (4) digit number that identifies a civ...,"[{'displayStyle': 'plain', 'align': 'left'}, {...",34162.0,official,tabular,None,False,2021-01-22T14:51:12.000Z
2,TLC New Driver Application Status,dpec-ucu7,[],THIS DATASET IS UPDATED SEVERAL TIMES PER DAY....,Taxi and Limousine Commission (TLC),None,None,dataset,2021-01-22T11:11:07.000Z,2016-05-17T18:43:43.000Z,...,"[drug_test, defensive_driving, app_date, other...","[Text, Text, Calendar date, Text, Calendar dat...",[Drug testing is required for Medallion and FH...,"[{'displayStyle': 'plain', 'align': 'left'}, {...",35331.0,official,tabular,None,False,2019-12-17T18:44:57.000Z
3,For Hire Vehicles (FHV) - Active,8wbx-tsch,[],"<b>PLEASE NOTE:</b> This dataset, which includ...",Taxi and Limousine Commission (TLC),None,None,dataset,2021-01-21T20:31:30.000Z,2015-07-16T17:33:32.000Z,...,"[active, vehicle_license_number, name, license...","[text, text, text, text, calendar_date, text, ...","[Permit active or not\n, FHV Vehicle License N...","[{'displayStyle': 'plain', 'align': 'left'}, {...",253448.0,official,tabular,None,False,2021-01-21T20:31:30.000Z
4,For Hire Vehicles (FHV) - Active Drivers,xjfq-wh2d,[],"<b>PLEASE NOTE:</b> This dataset, which includ...",Taxi and Limousine Commission (TLC),None,None,dataset,2021-01-21T20:05:57.000Z,2015-07-16T17:24:02.000Z,...,"[license_number, name, type, expiration_date, ...","[number, text, text, calendar_date, text, cale...","[FHV License Number\n, Driver Name\n\n, Type o...","[{'precisionStyle': 'standard', 'noCommas': 't...",221423.0,official,tabular,None,False,2021-01-21T20:05:57.000Z

In [251]:
len(df)

3140

In [252]:
df[['name', 'download_count']].sort_values(by='download_count', ascending=False).head()

                                           name  download_count
33           Demographic Statistics By Zip Code       1012732.0
1238                  Overhead Electronic Signs        429382.0
5     311 Service Requests from 2010 to Present        398101.0
10                   Medallion Drivers - Active        287636.0
3              For Hire Vehicles (FHV) - Active        253448.0